@font-face {
    font-family: Bilal;
    src: url("/fonts/Bilal.otf");
}

@font-face {
    font-family: Safira;
    src: url("/fonts/SafiraMarchPersonalUse.otf");
}

@font-face {
    font-family: Source;
    src: url("/fonts/SourceSerif4-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: Cookie;
    src: url("/fonts/Cookie-Regular.ttf");
}


@import "tailwindcss";

@theme{
    --font-bilal : Bilal, Arial, sans-serif;
    --font-safira : Safira;
    --font-source : Source;
    --font-cookie : Cookie;
}