---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro'
import '../styles/style.css'

// console.log('here ', Astro.url)
import { AlignLeft, ArrowLeft, ArrowRight } from 'lucide-react';
import Header from '../layouts/Header.astro';
let links = ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'problem', 'research-and-insights', 'design-process', 'foundation', 'life', 'visual', 'fidelity', 'impact-and-feedback', 'collaboration', 'reflections', 'closing']
let data = {active: 'hero', links: ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'research-and-insights', 'problem', 'design-insights', 'competitive', 'design-process', 'sketching', 'wireframes', 'feature-selection', 'branding', 'collaboration', 'next-steps', 'current-status', 'closing', 'contact']}
---

<Layout title="Welcome to Astro.">
	<!-- nav -->
    <div  x-data={JSON.stringify(data)} x-effect="active = window.location.hash?.slice(1) || 'hero'"  @hash-update.window="active = $event.detail">
    <Header
        active="Crack"
    >

        <!-- lg:absolute lg:opacity-0 lg:-top-[1000px]  -->
        <div class="h-2 flex gap-4 max-w-[700px] w-[40%] md:w-60% lg:w-[80%] overflow-hidden mob-timeline" slot="timeline">
            {
                data.links.map(link => 
                    <a href={"#"+link}  class="mob-timeline-indicator h-2 min-w-5 sm:min-w-5 lg:min-w-4 bg-gray-200 rounded-full"></a>
                )
            }
        </div>
        
    </Header>

    <!-- bottom-nav -->
    <div class="fixed bottom-0 right-0 z-10 flex bg-white pt-4 pl-4 xl:px-10 lg:pl-10 py-6 xl:py-10 bottom-nav">
        <ul class="flex gap-4 text-[#afafaf] font-semibold text-[10px] lg:text-sm">
            <li @click="active = 'quick-overview'" :class="{'text-[#9C784B]' : ['quick-overview', 'quick-overview-2'].includes(active)}"><a href="#quick-overview">Quick Overview</a></li>
            <li @click="active = 'research-and-insights'" :class="{'text-[#9C784B]' : ['research-and-insights', 'problem', 'design-insights', 'competitive', ''].includes(active)}"><a href="#research-and-insights"> Research and Insights</a></li>
            <li @click="active = 'design-process'" :class="{'text-[#9C784B]' : ['design-process', 'sketching', 'wireframes', 'feature-selection', 'branding', ''].includes(active)}"><a href="#design-process"> Design Process</a></li>
            <!-- <li @click="active = 'impact-and-feedback'" :class="{'text-[#9C784B]' : active == 'impact-and-feedback'}"><a href="#impact-and-feedback"> Impact and Feedback</a></li> -->
            <li @click="active = 'collaboration'" :class="{'text-[#9C784B]' : active == 'collaboration'}"><a href="#collaboration"> Collaboration</a></li>
            <li @click="active = 'next-steps'" :class="{'text-[#9C784B]' : ['next-steps', 'current-status'].includes(active) }"><a href="#next-steps"> Next Steps</a></li>
            <!-- <li @click="active = 'reflections'" :class="{'text-[#9C784B]' : active == 'reflections'}"><a href="#reflections"> Reflections and Learnings</a></li> -->
        </ul>
    </div>

    <!-- arrow -->
    <a :href="'#' + (links[links.indexOf(active) + 1] || links[links.length])" @click="setTimeout(()=> {active = (links[links.indexOf(active) + 1] || links[links.length])}, 1) " class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-20 bottom-5 z-[1] down-arrow"></a>
    <a :href="'#' + (links[links.indexOf(active) - 1] || links[0])" @click="setTimeout(()=> {active = (links[links.indexOf(active) - 1] || links[0])}, 1) " class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-20 bottom-5 z-[1] up-arrow hidden"></a>


	<main>
		<!-- hero -->
        <div id="hero" class="bg-[#f2ebe2]">
            <section class="min-h-screen grid grid-cols-2 py-20 px-4 md:pl-0 md:pr-10 lg:pr-20 max-w-[1700px] mx-auto gap-4 xl:gap-10">
                <!-- image -->
                <div class="flex hero-img items-center slide justify-end overflow-hidden p-20 w-full bg-[url('/images/crack/hero.png')] bg-no-repeat bg-contain bg-left h-full relative">
                    <!-- {
                        [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-gray-100 left-0 right-0 absolute h-[20%] slide-2 box"></div>)
                    } -->
                    <!-- <div class="bg-gray-100 top-0 left-0 right-0 absolute h-[20%] slide-1 box"></div>
                    <div class="bg-gray-100 top-[20%] left-0 right-0 absolute h-[20%] slide-2 box"></div>
                    <div class="bg-gray-100 top-[40%] left-0 right-0 absolute h-[20%] slide-3 box"></div>
                    <div class="bg-gray-100 top-[60%] left-0 right-0 absolute h-[20%] slide-4 box"></div>
                    <div class="bg-gray-100 top-[80%] left-0 right-0 absolute h-[20%] slide-5 box"></div> -->
                </div>
    
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center">
                    <h2 class="heading-up font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Crack HeadPhones<span class="font-bilal text-[60px]">,</span> Where Style Meets Sound</h2>
    
                    <p class="heading-up">
                        Crack Headphones are a bold fusion of retro-modern design and everyday sophistication. I first sketched the concept in 2015, 
                        which evolved into 3D wireframes and a prototype. 
                        <br><br>
                        Key features include Link Up buttons for shared listening, a triangular ear cup design 
                        for comfort and style, and an LED battery gauge that spells "CRACK.
                    </p>
    
                    <!-- <div class="pt-[52px] heading-up opacity-0">
                        <button class="px-4 py-3 rounded-lg text-white bg-[#222222] flex gap-2 items-center">Tour on the Website <img src="/icons/mdi_basketball.svg" alt="" srcset=""></button>
                    </div> -->
                </div>
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section> 
            <!-- <h2 x-data="{test : window.location.hash?.slice(1,window.location.hash?.length)}" x-text="active"></h2> -->
        </div>
		

        <!-- hey there -->
        <section id="hey-there" class="lg:px-20 py-20 px-10 min-h-screen flex items-center justify-center relative max-w-[1700px] mx-auto">
            <h2 class="text-sm sm:text-lg md:text-2xl xl:text-3xl leading-[35px] lg:leading-[48px] xl:leading-[72px] max-w-[1116px] w-[80%] text-[#AFAFAF] quick-appear">
                Case studies don’t have to be a chore. This one’s designed to highlight the work done, <span class="text-[#9C784B]">respect your time</span>, 
                and discuss what made <span class="text-[#9C784B]">Crack Headphones</span> come to life.
            </h2>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
            <!-- <p class="absolute right-20 bottom-[20%] w-[70%] text-right quick-appear">“Wow! Just Wow!! I don’t even know what I’ll change. It’s so fun & easy to use.” - Tunde</p> -->
        </section>

        <!-- table of contents -->
        <section id="table" class="min-h-screen relative py-20 px-4 md:px-10 lg:px-20 mx-auto">
            <h2 class="font-safira lg:text-sm xl:text-2xl heading-up">Content</h2>
            <div class="max-w-2xl grid grid-cols-[80%_20%] grid-rows-6 mt-20 mx-auto my-auto gap-4 lg:text-xl xl:text-2xl">
                <p>Quick Overview</p><p>01</p>
                <p>Research and Insights</p><p>02</p>
                <p>Design Process</p><p>03</p>
                <!-- <p>Impact and Feedback</p><p>04</p> -->
                <p>Collaboration</p><p>04</p>
                <p>Next Steps</p><p>05</p>
            </div>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
        </section>

        <!-- 01 -->
        <div id="quick-overview" class="bg-[#F2EBE2]">
            <section class="min-h-screen grid grid-cols-2 py-20 px-4 md:px-10 mx-auto lg:px-20 relative gap-4 xl:gap-6">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-4">
                    <p class="text-2xl font-cookie quick-down">01</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[40px] my-2 quick-down">Quick Overview</h2>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 w-full bg-[url('/images/crack/quick-overview.png')] bg-center bg-no-repeat bg-contain  h-full"></div>
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>
		

        <!-- 01 - Quick overview -->
        <section id="quick-overview-2" class="min-h-screen flex flex-col lg:grid py-20 px-4 md:px-10 lg:px-20 xl:grid-cols-[auto_auto_40%] lg:grid-cols-[auto_auto_10%]  grid-rows-[auto_auto_auto] lg:gap-4 relative max-w-[1700px] mx-auto">
            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4">Product Overview</h3>
            <p class="md:w-full xl:max-w-[500px] pb-2 xl:py-4 border-gray-200">CRACK Headphones is designed to offer a high-end, luxurious listening experience. The goal was to create headphones that are not just functional but also fashionable,
                catering to users who value both style and performance.  <br><br>
                Using user-centered research, we identified key needs and crafted a product that addresses real pain points while standing out in the market.
            </p>
            <div class="row-span-3 bg-[#F2EBE2] w-full rounded-lg flex items-center justify-center overflow-hidden">
                <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[40px] my-2 quick-down">Interactive Hifi Model</h2>
            </div>

            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4 lg:pt-8">My Role</h3>
            <p class="md:w-full xl:max-w-[500px] lg:border-y-[1px] pb-2 xl:py-4 lg:pt-8 border-gray-200">I came up with the idea for Pencil Hoops and led the design from start to finish. I designed the website, 
                I led the product design process, from research to ideation, sketching, and final 3D modeling. <br><br>
                I collaborated with 3D artists, graphic designers, and developers to ensure that the 
                design aligned with both user needs and the brand's aesthetic.  <br><br>
                I also worked on creating the CRACK branding, including the logo and marketing materials.
            </p>

            <!-- <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4">Impact</h3>
            <p class="md:w-full xl:max-w-[500px] pb-2 xl:py-4 border-gray-200">Test users loved it, saying it was fun, easy to use, and visually engaging. The feedback was overwhelmingly positive, 
                with many highlighting how enjoyable and intuitive it felt.
            </p>

            <div class="row-span-3 bg-gray-200 w-full rounded-lg h-full lg:hidden"></div> -->

		</section>

		<!-- 02 -->
        <div id="research-and-insights" class="bg-[#F2EBE2]">
            <section class="min-h-screen grid grid-cols-2 py-20 px-4 md:px-10 lg:px-20  relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-10">
                    <p class="text-2xl font-cookie quick-down">02</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[40px] my-2 quick-down">Research and Insights</h2>
                    <p>Our design process was anchored in extensive user research, employing both primary and secondary research methodologies and incorporating qualitative and quantitative data to capture a wide range of consumer insights.</p>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k')] bg-center bg-no-repeat bg-cover bg-blend-color-burn"></div>
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>

        <!-- the problem -->
        <section id='problem' class="min-h-screen xl:gap-20 flex flex-col lg:flex-row justify-center py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto box-parent">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">The Problem</h2>
                <p class="quick-up"> 
                    At the time, most headphones in the market focused heavily on sound quality but neglected usability, 
                    design flexibility, and user-friendly features. Users often struggled with issues like difficult earpad replacements, 
                    unclear battery levels, and the inability to easily share music with others.
                </p>
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div> -->

                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>

            <!-- image -->
            <div class="lg:max-w-[500px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Methods</h2>
                <ul class="flex flex-col gap-6">
                    <li><b>User Interviews and Surveys:</b> Direct engagements provided us with valuable feedback on common pain points and preferences.</li>
                    <li><b>Market Analysis:</b> Secondary research helped us understand competitive offerings and identify opportunities for innovation.</li>
                </ul>
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div> -->

                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>
		</section>

        <!-- research and design insights -->
        <section id="design-insights" class="min-h-screen flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-[auto_auto] py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Understanding People</h2>
                <ul class="flex flex-col gap-6"> 
                    <li> We conducted interviews, surveys, and competitive analysis to identify key user pain points: </li>
                    <li> <strong>Music Sharing:</strong> Users wanted an easier way to share what they’re listening to. </li>
                    <li> <strong>Battery Monitoring:</strong> Frustration with headphones dying unexpectedly. </li>
                    <li> <strong>Earpad Replacement:</strong> Difficulty replacing worn-out pads. </li>
                    <li> <strong>Quick Controls:</strong> The need for simple, accessible music controls. </li>
                </ul>
            </div>

            <!-- points --> 
            <div class="flex items-center mt-20 lg:mt-0">
                <ul class="flex gap-8">
                    <li class="flex flex-col items-start"><span class="bg-black text-center flex justify-center items-center rounded-full w-[60px] xl:w-[100px] xl:text-4xl text-bold aspect-square text-white font-bold ">1</span> <strong class="text-base self-start mt-6 mb-2 font-bold">Music Sharing</strong> <span>I need to be able to share a song I’m listening to with someone else easily.</span></li>
                    <li class="flex flex-col items-start"><span class="bg-black text-center flex justify-center items-center rounded-full w-[60px] xl:w-[100px] xl:text-4xl text-bold aspect-square text-white font-bold ">2</span> <strong class="text-base self-start mt-6 mb-2 font-bold">Easy Pause</strong> <span>I need an easy way to pause and play music while using my headphones.</span></li>
                    <li class="flex flex-col items-start"><span class="bg-black text-center flex justify-center items-center rounded-full w-[60px] xl:w-[100px] xl:text-4xl text-bold aspect-square text-white font-bold ">3</span> <strong class="text-base self-start mt-6 mb-2 font-bold">EarPad Replacement</strong> <span>It’s too much work replacing the ear pads of my headphone when they need to be replaced</span></li>
                    <li class="flex flex-col items-start"><span class="bg-black text-center flex justify-center items-center rounded-full w-[60px] xl:w-[100px] xl:text-4xl text-bold aspect-square text-white font-bold ">4</span> <strong class="text-base self-start mt-6 mb-2 font-bold">Battery Level</strong> <span>My headphone sometimes die at odd times or when i’m enjoying a song.</span></li>
                </ul>
            </div>
		</section>

        <!-- competitive analysis -->
        <section id="competitive" class="min-h-screen flex flex-col gap-4 py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="flex flex-col gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] my-2">Competitive Analysis</h2>
                <ul class="flex flex-col gap-6 list-inside list-disc"> 
                    <li> Who are our key competitors? </li>
                    <li> What is the best headphone on the market, and what are its qualities? </li>
                    <li> We conducted interviews, surveys, and competitive analysis to identify key user pain points: </li>
                </ul>
            </div>

            <div class="bg-gray-100 px-10 py-6 xl:text-sm text-xs">
            <table class="">
                <thead class="">
                    <tr class="text-left">
                        <th class="bg-gray-200 py-4 px-2 pl-8">Competitors </th>
                        <th class="bg-gray-200 py-4 px-2 "> Top Products </th>
                        <th class="bg-gray-200 py-4 px-2 "> Product Strength </th>
                        <th class="bg-gray-200 py-4 px-2 pr-8">Product Weaknesses </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-gray-100 py-4 px-2 w-[15%] pl-8">Bose</td>
                        <td class="bg-gray-100 py-4 px-2 w-[15%]">Bose<br>QuietComfort<br>45/QC45</td>
                        <td class="bg-gray-100 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Very comfortable and great for commute and travel.</li>
                                <li>Good build quality.</li>
                                <li>Excellent noise isolation performance.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-100 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Bulky and can fall off your head with more intense movement.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray-200 py-4 px-2 w-[15%] pl-8">Sony</td>
                        <td class="bg-gray-200 py-4 px-2 w-[15%]">Sony<br>WH-1000XM4</td>
                        <td class="bg-gray-200 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Comfortable fit.</li>
                                <li>Incredible ANC performance.</li>
                                <li>Over 37-hour continuous battery life.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-200 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Bulky design..</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray-100 py-4 px-2 w-[15%] pl-8">Apple</td>
                        <td class="bg-gray-100 py-4 px-2 w-[15%]">Apple AirPods <br>Max</td>
                        <td class="bg-gray-100 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Great noise cancelling.</li>
                                <li>Great build quality.</li>
                                <li>Over 21 hours of continuos battery life.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-100 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Heavy, bulky design which can be fatiguing to wear.</li>
                                <li>Audio cable not included.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
		</section>

        <!-- 03 -->
        <div id="design-process" class="bg-[#F2EBE2]">
            <section class="min-h-screen grid grid-cols-2 py-20 px-4 md:px-10 lg:px-20 relative gap-4 xl:gap-6 max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-10">
                    <p class="text-2xl font-cookie quick-down">03</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[40px] my-2 quick-down">Design Process</h2>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/crack/design-process.png')] bg-center bg-no-repeat bg-cover h-full"></div>
    
    
            </section>
        </div>

        <!-- sketching the concept -->
        <section id="sketching" class="min-h-screen flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-[auto_minmax(auto,70%)] py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Sketching The Concept</h2>
                <p> began by sketching ideas based on user feedback. The goal was to balance aesthetics with functionalitycreating something stylish yet highly practical. Early sketches explored shapes, button placements, and material textures.</p>
            </div>

            <!-- pics --> 
            <div class="grid-cols-3 grid grid-rows-2 gap-2 w-full h-full aspect-square lg:aspect-normal">
                <div class="col-span-3 h-full bg-[url('/images/crack/sketching/1.jpg')] bg-contain bg-bottom bg-no-repeat"></div>
                <div class="w-full h-full bg-[url('/images/crack/sketching/2.jpg')] bg-contain bg-top bg-no-repeat"></div>
                <div class="w-full h-full bg-[url('/images/crack/sketching/3.jpg')] bg-contain bg-top bg-no-repeat"></div>
                <div class="w-full h-full bg-[url('/images/crack/sketching/4.jpg')] bg-contain bg-top bg-no-repeat"></div>

            </div>
		</section>

        <!-- wireframes-->
        <section id="wireframes" class="min-h-screen flex flex-col gap-4 lg:gap-8 py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">WireFrames</h2>
            </div>

            <!-- pics --> 
            <div class="grid-cols-4 grid gap-2 w-full min-h-[80vh]">
                <div class="w-full h-full bg-[url('/images/crack/wireframes/1.jpg')] bg-contain bg-center bg-no-repeat"></div>
                <div class="w-full h-full bg-[url('/images/crack/wireframes/2.jpg')] bg-contain bg-center bg-no-repeat"></div>
                <div class="w-full h-full bg-[url('/images/crack/wireframes/3.jpg')] bg-contain bg-center bg-no-repeat"></div>
                <div class="w-full h-full bg-[url('/images/crack/wireframes/4.jpg')] bg-contain bg-center bg-no-repeat"></div>
            </div>
		</section>

        <!-- feature selection-->
        <section id="feature-selection" class="min-h-screen flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-[auto_minmax(auto,70%)] py-20 px-4 md:px-10 lg:px-20sm:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <div class="flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                    <h2 class="font-safira text-base sm:text-lg lg:text-sm xl:text-2xl leading-[28px] sm:leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Feature Selection</h2>
                    <ul class="flex flex-col gap-4 sm:gap-6">
                        <li>Based on user research, we prioritized features that enhance usability:</li>
                        <li><strong>Music Sharing (Link-Up):</strong> Seamless sharing with friends.</li>
                        <li><strong>Smart Pause:</strong> Auto-pause when headphones are removed.</li>
                        <li><strong>Ergonomic Comfort:</strong> Triangular cups for a unique, comfortable fit.</li>
                    </ul>
                </div>
        
                <div class="flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                    <h2 class="font-safira text-base sm:text-lg lg:text-sm xl:text-2xl leading-[28px] sm:leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Aesthetic and Functional Refinement</h2>
                    <ul class="flex flex-col gap-4 sm:gap-6">
                        <li><strong>Triangular Cups:</strong> Designed for style and customizable fit.</li>
                        <li><strong>Telescopic Arms:</strong> Effortlessly adjustable for a secure, comfortable hold.</li>
                        <li><strong>Stainless Steel Frame:</strong> Combines strength, flexibility, and durability with a premium tactile finish.</li>
                        <li><strong>Rotating Cups:</strong> Independent rotation for balanced pressure and fit.</li>
                    </ul>
                </div>
            </div>
        
            <!-- pics -->
            <div class="grid grid-cols-2 grid-rows-2 gap-2 w-full h-full">
                <div class="bg-[url('/images/crack/features/1.jpg')] bg-contain bg-bottom bg-no-repeat w-full h-full"></div>
                <div class="bg-[url('/images/crack/features/2.jpg')] bg-contain bg-bottom bg-no-repeat w-full h-full"></div>
                <div class="bg-[url('/images/crack/features/3.jpg')] bg-contain bg-top bg-no-repeat w-full h-full"></div>
                <div class="bg-[url('/images/crack/features/4.jpg')] bg-contain bg-top bg-no-repeat w-full h-full"></div>
            </div>
        </section>

        <!-- Branding and logo design -->
        <section id='branding' class="min-h-screen grid lg:grid-cols-2 px-4 py-20 lg:px-20 md:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[600px] flex flex-col lg:justify-center gap-4 xl:gap-6 relative box-parent overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Branding and Logo Design</h2>
                <p class="quick-up"> 
                    The name "CRACK" came from a spontaneous moment of inspiration, symbolizing boldness and breaking design norms. The logo features an embossed, cracked effect, with a clean, mobile-friendly version for digital platforms.
                </p>
                <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div>

                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- image -->
            <div class="lg:flex items-center overflow-hidden justify-end p-20 w-full bg-[url('/images/crack/branding.png')] rounded-lg bg-center bg-no-repeat bg-contain hidden relative box-parent">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

        <!-- 04 Collabrations-->
        <div id="collaboration" class="bg-[#F2EBE2]">
            <section class="min-h-screen flex items-center py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[600px] flex flex-col justify-center gap-4 xl:gap-10">
                    <p class="text-2xl font-cookie quick-down">04</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[40px] my-2 quick-down">Collabration</h2>
                    <ul class="flex flex-col gap-4 sm:gap-6">
                        <li>This project was a collaborative effort. I guided a talented team, including:</li>
                        <li><strong>UX Researchers:</strong> Synthesizing user insights.</li>
                        <li><strong>3D Modelers:</strong> Ria Kunti and Kasali Abimbola, who brought the designs to life.</li>
                        <li><strong>Graphic Design:</strong> Led by Ayo "Crixx," who shaped the visual identity.</li>
                        <li>My role was to integrate research findings with creative design principles, ensuring the final product reflects user-centric innovation.</li>
                    </ul>
                </div>
            </section>
        </div>

        <!-- 05 Next Steps-->
        <div id="next-steps" class="bg-[#F2EBE2]">
            <section class="min-h-screen flex items-center py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[600px] flex flex-col justify-center gap-4 xl:gap-10">
                    <p class="text-2xl font-cookie quick-down">05</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[40px] my-2 quick-down">Next Steps</h2>
                </div>
            </section>
        </div>

        <!-- current status -->
        <section id='current-status' class="min-h-screen xl:gap-20 flex flex-col lg:flex-row justify-center py-20 px-4 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto box-parent">
            <!-- project description and actions -->
            <div class="lg:max-w-[600px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Current Status and Next Steps</h2>
                <ul class="flex flex-col gap-4 sm:gap-6 quick-up list-inside">
                    <li>Having completed the design phase, CRACK Headphones are ready for the next stages:</li>
                    <li>
                        <ul class="flex flex-col gap-4 sm:gap-6 quick-up list-inside list-decimal pl-4">
                            <li><strong>Prototyping:</strong> Developing functional prototypes to test design practicality and user interaction.</li>
                            <li><strong>User Testing:</strong> Rigorous testing to refine features, enhance performance, and ensure the product meets our high standards.</li>
                        </ul>
                    </li>
                    <li>These steps will help us validate design decisions and prepare the headphones for potential mass production.</li>
                </ul>
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div> -->

                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- image -->
            <div class="lg:max-w-[600px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Personal Story</h2>
                <p>
                    Naming the headphones "CRACK" was a fun moment. After struggling to find the right name, inspiration struck when I noticed a <strong>crack on the wall.</strong> It felt bold, edgy, and perfect. That spontaneous idea shaped the entire brand identity, from the logo to the design language.
                </p>
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div> -->

                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

		<!-- closing statement -->
        <div id='closing' class="bg-[#F2EBE2]">
            <section class="min-h-screen grid grid-cols-2 py-20 px-4 md:px-10 lg:px-20 max-w-[1700px] mx-auto gap-4 xl:gap-10">
                <!-- project description and actions -->
                <div class="max-w-[500px] flex flex-col justify-center">
                    <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 heading-up-footer">Closing Statement</h2>
    
                    <p class="heading-up-footer">
                        The design phase of CRACK Headphones has set a <strong>new standard</strong> for what users can expect from high-end audio equipment. <br><br>
                        As we move forward, the insights and foundations laid during this phase will guide our efforts to realize a product that not only meets but <strong>exceeds user expectations</strong>.
                    </p>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 w-full closing-img bg-[url('/images/crack/closing.png')] bg-center bg-no-repeat bg-contain h-full"></div>
            </section>
        </div>
		
	</main>
    </div>
	<Footer />
</Layout>

<style>

</style>

<script src="../scripts/HeaderProgressIndicator.ts"></script>
<script src="../scripts/events.ts"></script>
<script>
    import { dissappearBottomNav } from "../scripts/animations";
    import { ScrollTrigger} from "../scripts/setup.ts"
// import Alpine from 'alpinejs';
    // import gsap from "gsap";
    // import Lenis from "lenis";
    // import { ScrollTrigger, ScrollToPlugin } from "gsap/all";
    // gsap.registerPlugin(ScrollTrigger, ScrollToPlugin)

    // gsap.config({
    //     nullTargetWarn: false,
    // })

    // // initialise lenis
    // const lenis = new Lenis({
    //     autoRaf: true,
    // });

    // let previousScroll = 0;
    // // Listen for the scroll event and log the event data
    // // lenis.on('scroll', (e) => {
    // //     // console.log(e);
    // // });

    // // lenis.on('scroll', ScrollTrigger.update);
    // // gsap.ticker.lagSmoothing(0);

    // document.addEventListener("click", function (e) {
    //     const currentScroll = window.scrollY;

    //     let Etarget = e.target as HTMLElement
    //     const anchor = Etarget.closest("a[href^='#']");
    //     if (!anchor) return;

    //     e.preventDefault();
    //     const targetId = anchor.getAttribute("href");
    //     const target = document.querySelector(targetId) as HTMLElement;

    //     if (target) {
    //         let targetPos = target.offsetTop;
 
    //         if(targetPos < currentScroll) //scroll up
    //             lenis.scrollTo(target, {duration: 0});
    //         else // scroll down
    //             lenis.scrollTo(target, {duration: 2.5, 
    //             easing : (x) => x < 0.5 ? (1 - Math.sqrt(1 - Math.pow(2 * x, 2))) / 2 : (Math.sqrt(1 - Math.pow(-2 * x + 2, 2)) + 1) / 2
    //         });

    //         history.pushState(null, "", targetId);
    //     }
    // });

    // const downArrow = document.querySelector('a.down-arrow') as HTMLAnchorElement;
    // const upArrow = document.querySelector('a.up-arrow') as HTMLAnchorElement;


    // // document.addEventListener('alpine:init', () => {
    // //     Alpine.data('active', () => ({
    // //         open: false,
 
    // //         toggle() {
    // //             this.open = ! this.open
    // //         }
    // //     }))
    // // })
    // function scrollUp(){
    //     lenis.scrollTo(downArrow.getAttribute('href'), {duration: 2.5, 
    //         easing : (x) => x < 0.5 ? (1 - Math.sqrt(1 - Math.pow(2 * x, 2))) / 2 : (Math.sqrt(1 - Math.pow(-2 * x + 2, 2)) + 1) / 2
    //     });
    //     window.dispatchEvent(new CustomEvent('hash-update', { detail: downArrow.getAttribute('href').slice(1) }));
    // }

    // function scrollDown(){
    //     lenis.scrollTo(upArrow.getAttribute('href'), {duration: 0});
    //     window.dispatchEvent(new CustomEvent('hash-update', { detail: upArrow.getAttribute('href').slice(1) }));
    // }

    // document.addEventListener('keydown', function(event) {
    //     if (event.key === 'ArrowDown') {
    //         scrollUp()
    //     }
    // });

    // document.addEventListener('keydown', function(event) {
    //     if (event.key === 'ArrowUp') {
    //         scrollDown()
    //     }
    // });

    // let intervalId = null;
    // window.addEventListener('wheel', (e) => {
    //     e.preventDefault(); // stop actual scrolling
    //     const direction = e.deltaY > 0 ? 'down' : 'up';
    //     lenis.stop()

    //     // clearTimeout
    //     console.log('here')
    //     clearTimeout(intervalId)
    //     intervalId = setTimeout(() => {
    //         lenis.start()
    //         if(direction == 'up') scrollUp()
    //         else scrollDown()

    //         console.log('inside', lenis)
    //     }, 50);


    //     // if(direction == 'up') scrollUp()
    //     // else scrollDown()
    // }, { passive: false });

    


    // gsap.fromTo(".hero-img",{
    //     translateX : '-50%'
    // }, {
    //     translateX : '0%',
    //     opacity : 1,
    //     duration : 2,
    //     scrollTrigger: {
    //         trigger: '.hero-img',  // Each element triggers individually
    //         // start: "top 80%",  // Animation starts when the element is 80% in view
    //         end: "bottom 92%",
    //         toggleActions: "play reverse play reset",  // Only plays once
    //         // markers : true,
    //     },
    // })

    // gsap.fromTo(".closing-img",{
    //     translateY : '20%',
    //     opacity : 0
    // }, {
    //     translateY : '0%',
    //     opacity : 1,
    //     duration : 2,
    //     scrollTrigger: {
    //         trigger: '.closing-img',  // Each element triggers individually
    //         // start: "top 80%",  // Animation starts when the element is 80% in view
    //         end: "bottom 50%",
    //         toggleActions: "play reverse play reset",  // Only plays once
    //         // markers : true,
    //     },
    // })

    

    // document.querySelectorAll('section').forEach((section) => {
    //     gsap.fromTo(section.querySelectorAll('.heading-up'),{translateY : '50%', opacity : 0}, {
    //         translateY: 0,
    //         opacity: 1,
    //         duration: 1,
    //         ease: "power2.out",
    //         stagger: 0.4,
    //         scrollTrigger: {
    //             trigger: section,  // Each element triggers individually
    //             start: "top 20%",  // Animation starts when the element is 80% in view
    //             end: "bottom 96%",
    //             toggleActions: "play reverse play reset", // Only plays once
    //             // markers : true,
    //         },
    //     });

    //     gsap.fromTo(section.querySelectorAll('.heading-up-footer'),{translateY : '50%', opacity : 0}, {
    //         translateY: 0,
    //         opacity: 1,
    //         duration: 1,
    //         ease: "power2.out",
    //         stagger: 0.4,
    //         scrollTrigger: {
    //             trigger: section,  // Each element triggers individually
    //             start: "top 20%",  // Animation starts when the element is 80% in view
    //             end: "bottom 50%",
    //             toggleActions: "play reverse play reset", // Only plays once
    //             // markers : true,
    //         },
    //     });

    //     gsap.fromTo(section.querySelectorAll('.quick-right'),{translateX : '50%', opacity : 0}, {
    //         translateX: 0,
    //         opacity: 1,
    //         duration: 0.8,
    //         ease: "power2.out",
    //         stagger: 0.2,
    //         scrollTrigger: {
    //             trigger: section,  // Each element triggers individually
    //             start: "top 20%",  // Animation starts when the element is 80% in view
    //             end: "bottom 95%",
    //             toggleActions: "play reverse play reset",  // Only plays once
    //             // markers : true,
    //         },
    //     });

    //     gsap.fromTo(section.querySelectorAll('.quick-up'), {opacity : 0, translateY : '50%'}, {
    //         translateY: 0,
    //         opacity: 1,
    //         duration: 0.8,
    //         ease: "power2.out",
    //         stagger: 0.2,
    //         scrollTrigger: {
    //             trigger: section,  // Each element triggers individually
    //             start: "top 20%",  // Animation starts when the element is 80% in view
    //             end: "bottom 95%",
    //             // scrub : true,
    //             toggleActions: "play reverse play reset",  // Only plays once
    //             // markers : true,
    //         },
    //     });

    //     gsap.fromTo(section.querySelectorAll('.quick-down'), {opacity : 0, translateY : '-50%'}, {
    //         translateY: 0,
    //         opacity: 1,
    //         duration: 0.8,
    //         ease: "power2.out",
    //         stagger: 0.2,
    //         scrollTrigger: {
    //             trigger: section,  // Each element triggers individually
    //             start: "top 20%",  // Animation starts when the element is 80% in view
    //             end: "bottom 95%",
    //             // scrub : true,
    //             toggleActions: "play reverse play reset",  // Only plays once
    //             // markers : true,
    //         },
    //     });

    //     gsap.fromTo(section.querySelectorAll('.quick-appear'), {opacity : 0}, {
    //         opacity: 1,
    //         duration: 0.8,
    //         ease: "power2.out",
    //         stagger: 0.2,
    //         scrollTrigger: {
    //             trigger: section,  // Each element triggers individually
    //             start: "top 20%",  // Animation starts when the element is 80% in view
    //             end: "bottom 99%",
    //             // scrub : true,
    //             toggleActions: "play reverse play reset",  // Only plays once
    //             // markers : true,
    //         },
    //     });

    // })



    // document.querySelectorAll('.box-parent').forEach((boxParent) => {
    //     gsap.fromTo(boxParent.querySelectorAll('.box'),{
    //         xPercent : 0
    //     }, { 
    //         xPercent : 100,
    //         duration : 0.6,
    //         ease : "power1.out",
    //         stagger : 0.08,
    //         scrollTrigger: {
    //             trigger: boxParent,  // Each element triggers individually
    //             start: "top 50%",  // Animation starts when the element is 80% in view
    //             end: "bottom 92%",
    //             // scrub : true,
    //             toggleActions: "play reverse play reset",  // Only plays once
    //             // markers : true,
    //         },
    //     });
    // })


    // // for the footer
    // let footer = document.querySelector('#contact') as HTMLElement
    // let footerAnim = gsap.fromTo('.bottom-nav', { bottom : 0}, {
    //     bottom : footer.clientHeight,
    //     duration: 2,
    //     paused : true,
    //     ease: "circ.inOut",
    //     // scrollTrigger: {
    //     //     // trigger: '#contact',  // Each element triggers individually
    //     //     // start: "top 20%",  // Animation starts when the element is 80% in view
    //     //     // end: "bottom 95%",
    //     //     // scrub : true,
    //     //     // toggleActions: "play reverse play reverse",  // Only plays once
    //     //     // markers : true,
    //     // },
    // });

    // let dissappearBottomNav = gsap.fromTo('.bottom-nav', { opacity : 1}, {
    //     opacity : 0,
    //     duration: 2,
    //     paused : true,
    //     ease: "circ.inOut",
    //     // scrollTrigger: {
    //     //     // trigger: '#contact',  // Each element triggers individually
    //     //     // start: "top 20%",  // Animation starts when the element is 80% in view
    //     //     // end: "bottom 95%",
    //     //     // scrub : true,
    //     //     // toggleActions: "play reverse play reverse",  // Only plays once
    //     //     // markers : true,
    //     // },
    // });

    // // move bottom nav when footer shows
    // ScrollTrigger.create({
    //     trigger: '#contact',
    //     // start: 'top top',
    //     // endTrigger: '#otherID',
    //     end: 'bottom 50%+=100px',
    //     onToggle: (self) => console.log('toggled, isActive:', self.isActive),
    //     onUpdate: (self) => {

    //         if(self.direction == 1){
    //             footerAnim.duration(2)
    //             footerAnim.play();
    //         }else{
    //             footerAnim.duration(0)
    //             footerAnim.reverse()
    //         }
    //     }
    // });

    // dissappear footer on certain pages
    ['#hero', '#table', '#hey-there', '#quick-overview', '#research-and-insights', '#design-process', '#collaboration', '#next-steps', '#closing'].forEach(section => {
        ScrollTrigger.create({
            trigger: section,
            // start: 'top top',
            // endTrigger: '#otherID',
            // end: 'bottom 50%+=100px',
            onToggle: (self) => {
                if(self.isActive) dissappearBottomNav.play()
                else dissappearBottomNav.reverse()
            },
            onUpdate: (self) => {
                console.log('here2')
                // if(self.direction == 1){
                //     footerAnim.duration(2)
                //     footerAnim.play();
                // }else{
                //     footerAnim.duration(0)
                //     footerAnim.reverse()
                // }
            }
        });
    })
   

   



    // gsap.to(window, { duration: 1, scrollTo: "#hey-there", ease: "bounce.out" });

</script>
