---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro'

import { ArrowLeft, ArrowRight } from 'lucide-react';
---

<Layout title="Welcome to Astro.">
	<!-- nav -->
	<header class="fixed top-0 left-0 right-0 bg-white opacity-95">
		<nav class="flex justify-between pt-8 pb-2 px-20 border-b-[1px] border-b-gray-100">
			<ul class="flex items-center gap-16">
				<li class="font-safira text-gray-300">Selected Works</li>
				<li class="font-safira text-gray-300">My Journey</li>
				<li class="font-safira text-gray-300">About Me</li>
				<li class="font-safira text-gray-300">Get In Touch</li>
			</ul>

			<div class="flex items-center gap-10">
				<p class="font-bilal text-[32px]">Kamil Oseni</p>
				<div class="w-[100px] aspect-square bg-gray-500 rounded-full"></div>
			</div>
		</nav>
	</header>

	<main>
		<!-- works -->
		<section class="h-screen overflow-hidden grid grid-rows-[minmax(auto,1fr)_1fr]">
			<!-- top-side -->
			<div class="pt-[200px] px-20 pb-8 flex justify-between items-center pt-auto">
				<!-- project title, tags and date -->
				<div>
					<ul class="list-disc list-inside flex gap-9">
						<li>[ Sports ]</li>
						<li>[ Interaction Design ]</li>
						<li>[ Creative Website ]</li>
					</ul>
					<h2 class="font-safira lg:text-2xl leading-[40px] lg:leading-[58.25px] mt-14">Pencil <span class="text text-[#336633]">Hoops <br> Website Design</span></h2>
					<p class="mt-4">2023</p>
				</div>

				<!-- project description and actions -->
				<div class="w-[510px]">
					<p class="w-[444px]">
						Pencil Hoops is an interactive, people-friendly website designed for 
						NBA fans who appreciate the art of pencil sketching.<br><br>
						It blends minimal design, accessibility, and engaging experiences, 
						combining stunning pencil sketches with interactive 
						animations and dynamic sound effects to bring NBA moments to life.
					</p>

					<div class="pt-[52px]">
						<button class="px-4 py-3 rounded-lg text-white bg-[#222222]">Tour on the Website</button>
						<button class="px-4 py-3 rounded-lg">Read the Story</button>
					</div>
				</div>
			</div>
			<!-- bottom side - project slider -->
			<div class="grid grid-cols-5 gap-2 p-2 items-end justify-end">
				<div class="h-full bg-gray-200 max-h-[400px] rounded-md col-span-2"></div>
				<div class="h-full bg-gray-200 max-h-[400px] rounded-md "></div>
				<div class="h-full bg-gray-200 max-h-[400px] rounded-md "></div>
				<div class="h-full bg-gray-200 max-h-[400px] rounded-md "></div>
			</div>
		</section>

		<!-- timeline -->
		<section class="h-screen grid grid-rows-[80%_minmax(auto)]  px-20 gap-6">
			<!-- center box -->
			<div class="pt-[200px] pb-8 flex justify-between items-center gap-8">
				<!-- project title, tags and date -->
				<div>
					<p class="mt-4">October 2016</p>
					<p class="mt-4 font-bold">BSc Medical Physiology</p>
					<h2 class="font-safira lg:text-2xl leading-[40px] lg:leading-[58.25px] mt-10">Exploring How the Human Mind <br>and Body Work</h2>
					<p class="max-w-[677px] mt-6"> 
						I focused on research methods and real-world applications, 
						which helped me develop a deeper understanding of how psychology shapes our day-to-day experiences. <br><br>
						This foundation has been invaluable in my design process, allowing me to create user-centered solutions 
						that resonate with people on both cognitive and emotional levels.
					</p>
				</div>

				<!-- project description and actions -->
				<div class="w-[45%] aspect-video bg-gray-200 rounded-lg"></div>
			</div>

			<!-- progress -->
			<div>
				<div class="h-1 flex gap-3">  
					<div class="w-full h-full bg-gray-200 relative after:content-[''] after:absolute after:w-[50%] after:bottom-0 after:bg-black after:left-0 after:top-0">
						<div class="absolute right-0 left-0 bottom-[100%] lg:h-20 h-12 flex flex-col items-center">
							<p class="py-1 lg:px-6 lg:text-sm text-xs px-3 bg-gray-200 rounded-full inline-block">2016</p>
							<div data-svg-wrapper>
								<svg class="lg:h-12 h-6 lg:w-[12px]" viewBox="0 0 12 46" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666668 6 0.666668C3.05448 0.666668 0.666667 3.05448 0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333ZM7 46V44H5V46H7ZM7 40L7 36H5V40H7ZM7 32V28H5V32H7ZM7 24L7 20H5L5 24H7ZM7 16L7 12H5L5 16H7ZM7 8L7 6H5L5 8H7Z" fill="#222222"/>
								</svg>
							</div>
						</div>
					</div>
					<div class="w-full h-full bg-gray-200 relative"></div>
					<div class="w-full h-full bg-gray-200"></div>
					<div class="w-full h-full bg-gray-200"></div>
					<div class="w-full h-full bg-gray-200"></div>
					<div class="w-full h-full bg-gray-200"></div>
					<div class="w-full h-full bg-gray-200"></div>
					<div class="w-full h-full bg-gray-200"></div>
					<div class="w-full h-full bg-gray-200"></div>
		
				
				</div>
				<!-- arrows -->
				<dir class="flex gap-4 mt-5 relative">
					<button class="p-2 hover:cursor-pointer"><ArrowLeft /></button>
					<button class="p-2 hover:cursor-pointer"><ArrowRight /></button>
					<div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-0"></div>
				</dir>
			</div>
		</section>

		<!-- about me -->
		<section class="h-screen px-20">
			<div class="pt-[180px] grid grid-cols-[auto_minmax(0,40%)] gap-10">
				<!--  contents -->
				<div class="flex flex-col gap-3.5">
					<div>
						<h2 class="font-safira lg:text-2xl leading-[40px] lg:leading-[58.25px]">Art and Photography</h2>
						<p class="max-w-[744px] mt-2"> 
							I like to balance logic with instinct,  a mix of planning and going with the flow. I tend 
							to notice trends before they take off, whether it’s in data, markets, or design. <br><br>
							When I’m not working on numbers or building something like Prospera, I’m probably outside staying active. I enjoy playing chess, 
							rollerblading, trying out extreme sports, or just exploring and taking pictures along the way
						</p>
					</div>
		
					<div>
						<h2 class="font-safira lg:text-2xl leading-[40px] lg:leading-[58.25px]">Anime and Animals</h2>
						<p class="max-w-[744px] mt-2"> 
							I love to unwind with movies and anime, and right now, I’m really into Solo Leveling. 
							Anime helps me relax, spark my imagination, and enjoy stories from different perspectives. <br><br>
							I also have a soft spot for animals, and at the end of the day, it’s all about enjoying life, finding moments to relax, 
							and having a good time.
						</p>
					</div>
		
					<div>
						<h2 class="font-safira lg:text-2xl leading-[40px] lg:leading-[58.25px]">Faith</h2>
						<p class="max-w-[744px] mt-2"> 
							Above all, my faith in Jesus defines who I am. The Gospel reminds me that life isn’t just about achievements or adventures, 
							but about loving God and loving people. Whether I’m working, exploring, or relaxing, 
							I strive to live in a way that reflects His grace and truth, finding purpose and meaning beyond the everyday.
						</p>
					</div>
				</div>

				<!-- images -->
				<div class="w-full h-full grid grid-cols-3 grid-rows-[2fr_1fr_2fr] gap-1 p-1">
					<div class="bg-[url('/images/images1.jpg')] rounded-lg bg-cover bg-center bg-no-repeat row-span-2"></div>
					<div class="bg-[url('/images/images2.jpg')] rounded-lg bg-cover bg-center bg-no-repeat"></div>
					<div class="bg-[url('/images/images3.jpg')] rounded-lg bg-cover bg-center bg-no-repeat row-span-2"></div>
					<div class="bg-[url('/images/images5.jpg')] rounded-lg bg-cover bg-center bg-no-repeat row-span-2"></div>
					<div class="bg-[url('/images/images6.jpg')] rounded-lg bg-cover bg-center bg-no-repeat"></div>
					<div class="bg-[url('/images/images4.jpg')] rounded-lg bg-cover bg-center bg-no-repeat"></div>
					
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<style>

</style>
