---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro'

// console.log('here ', Astro.url)
import { AlignLeft, ArrowLeft, ArrowRight } from 'lucide-react';
let links = ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'problem', 'research-and-insights', 'design-process', 'foundation', 'life', 'visual', 'fidelity', 'impact-and-feedback', 'collaboration', 'reflections', 'closing']
let data = {active: 'hero', links: ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'research-and-insights', 'problem', 'design-insights', 'challenges', 'design-process', 'key-features', 're-structure', 'sketching', 'wireframes', 'feature-selection', 'next-steps', 'branding', 'closing', 'contact']}
---

<Layout title="Welcome to Astro.">
	<!-- nav -->
    <div  x-data={JSON.stringify(data)} x-effect="active = window.location.hash?.slice(1) || 'hero'"  @hash-update.window="active = $event.detail">
	<header class="fixed top-0 left-0 right-0 bg-white w-full z-30">
		<nav class="flex justify-between items-center pt-4 lg:pt-8 pb-2 px-8 gap-4 lg:px-20 border-b-[1px] border-b-gray-100">
            <button><AlignLeft /></button>
            <!-- <p x-text="active"></p> -->

            <div class="w-full flex justify-center">
                <div class="h-2 w-full max-w-[600px] flex gap-3 relative lg:left-[5%]">  
                    <template x-for='(link, index) in links'>
                        <a :href="'#' + link" href="link" class="w-[100px] h-full transition-all duration-200 rounded-lg"
                            @click="active = link"
                            :class="{'bg-black ' : links.indexOf(link) <= links.indexOf(active), ' hover:hide-bottom-nav bg-gray-200 text-white' : links.indexOf(link) > links.indexOf(active)}"
                        ></a>
                    </template>
                    <!-- <a class="w-full h-full bg-gray-200 relative after:content-[''] after:absolute after:w-[40%] lg:after:w-[50%] after:bottom-0 after:bg-black after:left-0 after:top-0"></a>
                    <a class="w-full h-full bg-gray-200 relative"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a>
                    <a class="w-full h-full bg-gray-200"></a> -->
                </div>
            </div>

			<div class="flex items-center gap-5">
				<p class="font-bilal hidden lg:block lg:text-[24px] whitespace-nowrap">Kamil Oseni</p>
				<div class="lg:w-[70px] md:w-[70px] w-[50px] aspect-square bg-gray-500 rounded-full"></div>
			</div>
		</nav>
	</header>

    <!-- bottom-nav -->
    <div class="fixed bottom-0 right-0 z-10 flex bg-white pt-4 pl-4 xl:px-10 lg:pl-10 py-6 xl:py-10 bottom-nav">
        <ul class="flex gap-4 text-[#afafaf] font-semibold text-[10px] lg:text-sm">
            <li @click="active = 'quick-overview'" :class="{'text-black' : ['quick-overview', 'quick-overview-2'].includes(active)}"><a href="#quick-overview">Quick Overview</a></li>
            <li @click="active = 'research-and-insights'" :class="{'text-black' : ['research-and-insights', 'problem', 'design-insights', 'competitive', 'challenges'].includes(active)}"><a href="#research-and-insights"> Research and Insights</a></li>
            <li @click="active = 'design-process'" :class="{'text-black' : ['design-process', 'sketching', 'wireframes', 'feature-selection', 'key-features', 're-structure'].includes(active)}"><a href="#design-process"> Design Process</a></li>
            <!-- <li @click="active = 'impact-and-feedback'" :class="{'text-black' : active == 'impact-and-feedback'}"><a href="#impact-and-feedback"> Impact and Feedback</a></li> -->
            <!-- <li @click="active = 'collaboration'" :class="{'text-black' : active == 'collaboration'}"><a href="#collaboration"> Collaboration</a></li> -->
            <li @click="active = 'next-steps'" :class="{'text-black' : ['next-steps', 'current-status', 'branding',].includes(active) }"><a href="#next-steps"> Next Steps</a></li>
            <!-- <li @click="active = 'reflections'" :class="{'text-black' : active == 'reflections'}"><a href="#reflections"> Reflections and Learnings</a></li> -->
        </ul>
    </div>

    <!-- arrow -->
    <a :href="'#' + (links[links.indexOf(active) + 1] || links[links.length])" @click="setTimeout(()=> {active = (links[links.indexOf(active) + 1] || links[links.length])}, 1) " class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-20 bottom-5 z-[1] down-arrow"></a>
    <a :href="'#' + (links[links.indexOf(active) - 1] || links[0])" @click="setTimeout(()=> {active = (links[links.indexOf(active) - 1] || links[0])}, 1) " class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-20 bottom-5 z-[1] up-arrow hidden"></a>


	<main>
		<!-- hero -->
        <div id="hero" class="hide-bottom-nav">
            <section class="h-screen overflow-hidden grid grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 max-w-[1700px] mx-auto gap-4 xl:gap-10">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center">
                    <h2 class="heading-up font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4  opacity-0 translate-y-[50%] up">
                        OpenPolicy <br>
                        App Design  <span class="text-gray-200">( MVP )</span></h2>
    
                    <p class="heading-up opacity-0">
                        OpenPolicy is a platform designed to connect citizens with their government like never before. It allows users to track bills, vote on policies, 
                        and directly engage with representatives, all in one place.  
                        <br><br>
                        As the Product Lead, I redesigned the app from the ground up, transforming a cluttered, unusable experience into a seamless and intuitive platform. 
                        Now, with the MVP launching soon, OpenPolicy is set to revolutionize civic engagement.
                    </p>
    
                    <div class="pt-[52px] heading-up opacity-0">
                        <button class="px-4 py-3 rounded-lg text-white bg-[#222222] flex gap-2 items-center">Get it on The Appstore <img src="/icons/ic_baseline-apple.svg" alt="" srcset=""></button>
                    </div>
                </div>

                <!-- image -->
                <div class="flex  opacity-0 hero-img items-center slide justify-end overflow-hidden p-20 w-full bg-[url('/images/pencil_hoops/sections/k.jpg')] bg-gray-100 bg-no-repeat bg-contain bg-left h-full relative">
                </div>
            </section> 
        </div>
		

        <!-- hey there -->
        <section id="hey-there" class="lg:px-20 px-10 h-screen flex items-center justify-center relative pt-[100px] max-w-[1700px] mx-auto">
            <h2 class="text-sm sm:text-lg md:text-2xl xl:text-5xl leading-[35px] lg:leading-[48px] xl:leading-[72px] max-w-[1116px] w-[80%] text-[#AFAFAF] quick-appear">
                This is the story of how we took OpenPolicy from a <span class="text-black">messy, unusable app</span> to a <span class="text-black">clean, powerful</span> platform that puts people closer to their government.
            </h2>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
            <!-- <p class="absolute right-20 bottom-[20%] w-[70%] text-right quick-appear">“Wow! Just Wow!! I don’t even know what I’ll change. It’s so fun & easy to use.” - Tunde</p> -->
        </section>

        <!-- table of contents -->
        <section id="table" class="lg:px-20 px-10 h-screen relative pt-[100px] md:pt-[120px] lg:pt-[150px] max-w-[1700px] mx-auto overflow-hidden">
            <h2 class="font-safira lg:text-sm xl:text-2xl heading-up">Content</h2>
            <div class="max-w-2xl grid grid-cols-[80%_20%] grid-rows-6 mt-20 mx-auto my-auto gap-4 lg:text-xl xl:text-2xl">
                <p class="quick-right opacity-0">Quick Overview</p><p class="quick-up opacity-0 translate-y-[50%]">01</p>
                <p class="quick-right opacity-0">Research and Insights</p><p class="quick-up opacity-0 translate-y-[50%]">02</p>
                <p class="quick-right opacity-0">Design and Features</p><p class="quick-up opacity-0 translate-y-[50%]">03</p>
                <!-- <p class="quick-right opacity-0">Impact and Feedback</p><p class="quick-up opacity-0 translate-y-[50%]">04</p> -->
                <!-- <p class="quick-right opacity-0">Collaboration</p><p class="quick-up opacity-0 translate-y-[50%]">04</p> -->
                <p class="quick-right opacity-0">Next Steps</p><p class="quick-up opacity-0 translate-y-[50%]">04</p>
            </div>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
        </section>

        <!-- 01 -->
        <div id="quick-overview" class="hide-bottom-nav bg-black text-white">
            <section class="h-screen overflow-hidden grid grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] max-w-[1700px] mx-auto lg:px-20 px-10 relative gap-4 xl:gap-6">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-4">
                    <p class="text-4xl font-cookie quick-down">01</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[20px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Quick Overview</h2>
                </div>
    
                <!-- image -->
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k')] bg-blend-color-burn bg-white bg-center bg-no-repeat bg-cover h-full"></div> -->
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>
		

        <!-- 01 - Quick overview -->
        <section id="quick-overview-2" class="h-screen overflow-hidden flex flex-col lg:grid pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 xl:grid-cols-[auto_auto_auto] lg:grid-cols-[auto_auto_10%]  grid-rows-[auto_auto_auto] lg:gap-4 xl:gap-10 relative max-w-[1700px] mx-auto">
            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4">Product Overview</h3>
            <p class="md:w-full max-w-[900px] pb-2 xl:py-4 border-gray-200 col-span-2">OpenPolicy was designed to bridge the gap between the people and the government. Currently, there isn't an official platform that allows citizens to voice their concerns, 
                vote, or engage with bills being passed. OpenPolicy changes that.   <br><br>
                The app provides a way for people to stay updated on government policies, track bills, and connect with representatives, all in one place.
            </p>
            <!-- <div class="row-span-3 bg-gray-200 w-full rounded-lg"></div> -->

            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4 lg:pt-8">My Role</h3>
            <p class="md:w-full max-w-[900px] lg:border-y-[1px] pb-2 xl:py-4 lg:pt-8 border-gray-200 col-span-2">I came up with the idea for Pencil Hoops and led the design from start to finish. I designed the website, 
                I led the product design process, from research to ideation, sketching, and final 3D modeling. <br><br>
                I collaborated with 3D artists, graphic designers, and developers to ensure that the 
                design aligned with both user needs and the brand's aesthetic.  <br><br>
                I also worked on creating the CRACK branding, including the logo and marketing materials.
            </p>

            <!-- <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4">Impact</h3>
            <p class="md:w-full xl:max-w-[500px] pb-2 xl:py-4 border-gray-200">Test users loved it, saying it was fun, easy to use, and visually engaging. The feedback was overwhelmingly positive, 
                with many highlighting how enjoyable and intuitive it felt.
            </p>

            <div class="row-span-3 bg-gray-200 w-full rounded-lg h-full lg:hidden"></div> -->

		</section>

		<!-- 02 -->
        <div id="research-and-insights" class="hide-bottom-nav bg-black text-white">
            <section class="h-screen overflow-hidden grid grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10  relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-10">
                    <p class="text-4xl font-cookie quick-down">02</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[20px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Research and Insights</h2>
                    <!-- <p>Our design process was anchored in extensive user research, employing both primary and secondary research methodologies and incorporating qualitative and quantitative data to capture a wide range of consumer insights.</p> -->
                </div>
    
                <!-- image -->
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k')] bg-white bg-center bg-no-repeat bg-cover bg-blend-color-burn"></div> -->
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>

        <!-- the problem -->
        <section id='problem' class="h-screen overflow-hidden grid lg:grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[200px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[600px] flex flex-col lg:justify-center gap-4 xl:gap-6 relative box-parent overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">The Problem</h2>
                <p class="quick-up"> 
                    The idea for OpenPolicy came from recognizing a major gap: there was no structured, official platform for public participation in governance. 
                    The goal was simple: give people a way to follow <strong>what’s happening in Parliament</strong> and <strong>have a say</strong> in the process. <br><br>
                    There was an existing app when I joined the project, but it had major usability issues. The design was cluttered, confusing, 
                    and didn’t fully support the app’s mission. My task was to <strong>completely redesign the experience</strong>
                    while keeping the core functionalities intact, making it more intuitive and accessible for users.
                </p>
                <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div>

                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>

            <!-- image -->
            <div class="lg:flex items-center overflow-hidden justify-end p-20 w-full bg-gray-200 bg-[url('/images/pencil_hoops/sections/k.jpg')] rounded-lg bg-center bg-no-repeat bg-cover hidden relative box-parent">
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>
		</section>

        <!-- research and design insights -->
        <section id="design-insights" class="h-screen overflow-hidden flex flex-col justify-end pb-20 gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-rows-[minmax(auto,10%)_auto] lg:grid-cols-[auto_minmax(auto,70%)] lg:items-start pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <div class="bg-white w-full h-full col-span-2 lg:block hidden"></div>
            <!-- project description and actions -->
            <div class="lg:max-w-[400px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Challenges and Key Decisions</h2>
                <!-- <ul class="flex flex-col gap-6"> 
                    <li> We conducted interviews, surveys, and competitive analysis to identify key user pain points: </li>
                    <li> <strong>Music Sharing:</strong> Users wanted an easier way to share what they’re listening to. </li>
                    <li> <strong>Battery Monitoring:</strong> Frustration with headphones dying unexpectedly. </li>
                    <li> <strong>Earpad Replacement:</strong> Difficulty replacing worn-out pads. </li>
                    <li> <strong>Quick Controls:</strong> The need for simple, accessible music controls. </li>
                </ul> -->
            </div>

            <!-- points --> 
            <ul class="flex flex-col gap-8 justify-center items-start lg:max-w-[600px]">
                <li class="flex flex-col items-start">
                    <span class="bg-black text-center flex justify-center items-center rounded-full w-[44px] xl:w-[44px] overflow-clip text-bold aspect-square text-white font-bold">1</span>
                    <strong class="text-base self-start mt-6 mb-2 font-bold">Redesigning Without a PRD</strong>
                    <span>When I stepped in, there was no Product Requirements Document (PRD), making it difficult to understand the full scope of the project. I had to reverse-engineer the previous app, speak with stakeholders, and map out the entire system myself.</span>
                </li>
                <li class="flex flex-col items-start">
                    <span class="bg-black text-center flex justify-center items-center rounded-full w-[44px] xl:w-[44px] overflow-clip text-bold aspect-square text-white font-bold">2</span>
                    <strong class="text-base self-start mt-6 mb-2 font-bold">Navigating an App Store Rejection</strong>
                    <span>One of the biggest hurdles was that the original app had been rejected by iOS. A key reason? <strong>Comment moderation.</strong></span>
                    <span>Allowing users to comment freely on political issues could lead to toxicity, misinformation, and even legal concerns. I made a major design decision to <strong>remove the comment section entirely.</strong> This would prevent unregulated debates while keeping the platform professional and constructive.</span>
                </li>
            </ul>
		</section>

         <!-- challenges -->
         <section id="challenges" class="h-screen overflow-hidden flex flex-col justify-end pb-20 gap-4 lg:gap-8 xl:gap-16 lg:grid  lg:grid-cols-[auto_minmax(auto,70%)] lg:items-start pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <!-- <div class="bg-white w-full h-full col-span-2 lg:block hidden"></div> -->
            <!-- project description and actions -->
            <div class="lg:max-w-[400px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Challenges and Key Decisions</h2>
                <ul class="flex flex-col gap-8 justify-center items-start lg:max-w-[600px]">
                    <li class="flex flex-col items-start">
                        <span class="bg-black text-center flex justify-center items-center rounded-full w-[44px] xl:w-[44px] overflow-clip text-bold aspect-square text-white font-bold">3</span>
                        <strong class="text-base self-start mt-6 mb-2 font-bold">Creating a More Engaging Interface</strong>
                        <span>The old app lacked structure and visual clarity, making it difficult for users to navigate. I focused on three key areas to improve usability:</span>
                        <ul class="list-disc pl-6 mt-2 flex flex-col gap-4 mt-4">
                            <li><strong>Simplifying Navigation:</strong> Ensuring key sections (Bills, Debates, Committees) were easily accessible.</li>
                            <li><strong>Clear Information Hierarchy:</strong> Using typography and spacing to highlight key actions.</li>
                            <li><strong>Aesthetics & Accessibility:</strong> A minimal, readable design with high-contrast elements for better usability.</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- points --> 
            <div class="bg-gray-200 w-full h-full"></div>
		</section>

        <!-- competitive analysis -->
        <!-- <section id="competitive" class="h-screen overflow-hidden flex flex-col gap-4 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <div class="flex flex-col gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] my-2">Competitive Analysis</h2>
                <ul class="flex flex-col gap-6 list-inside list-disc"> 
                    <li> Who are our key competitors? </li>
                    <li> What is the best headphone on the market, and what are its qualities? </li>
                    <li> We conducted interviews, surveys, and competitive analysis to identify key user pain points: </li>
                </ul>
            </div>

            <div class="bg-gray-100 px-10 py-6 xl:text-sm text-xs">
            <table class="">
                <thead class="">
                    <tr class="text-left">
                        <th class="bg-gray-200 py-4 px-2 pl-8">Competitors </th>
                        <th class="bg-gray-200 py-4 px-2 "> Top Products </th>
                        <th class="bg-gray-200 py-4 px-2 "> Product Strength </th>
                        <th class="bg-gray-200 py-4 px-2 pr-8">Product Weaknesses </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-gray-100 py-4 px-2 w-[15%] pl-8">Bose</td>
                        <td class="bg-gray-100 py-4 px-2 w-[15%]">Bose<br>QuietComfort<br>45/QC45</td>
                        <td class="bg-gray-100 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Very comfortable and great for commute and travel.</li>
                                <li>Good build quality.</li>
                                <li>Excellent noise isolation performance.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-100 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Bulky and can fall off your head with more intense movement.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray-200 py-4 px-2 w-[15%] pl-8">Sony</td>
                        <td class="bg-gray-200 py-4 px-2 w-[15%]">Sony<br>WH-1000XM4</td>
                        <td class="bg-gray-200 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Comfortable fit.</li>
                                <li>Incredible ANC performance.</li>
                                <li>Over 37-hour continuous battery life.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-200 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Bulky design..</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray-100 py-4 px-2 w-[15%] pl-8">Apple</td>
                        <td class="bg-gray-100 py-4 px-2 w-[15%]">Apple AirPods <br>Max</td>
                        <td class="bg-gray-100 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Great noise cancelling.</li>
                                <li>Great build quality.</li>
                                <li>Over 21 hours of continuos battery life.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-100 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Heavy, bulky design which can be fatiguing to wear.</li>
                                <li>Audio cable not included.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
		</section> -->

        <!-- 03 -->
        <div id="design-process" class="hide-bottom-nav bg-black text-white">
            <section class="h-screen overflow-hidden grid grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative gap-4 xl:gap-6 max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-10">
                    <p class="text-4xl font-cookie quick-down">03</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[20px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Design and Features</h2>
                </div>
    
                <!-- image -->
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k.jpg')] bg-white bg-center bg-no-repeat bg-cover h-full"></div> -->
            </section>
        </div>

        <!-- key features -->
        <section id='key-features' class="h-screen overflow-hidden xl:gap-20 flex flex-col justify-center pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto box-parent">
            <!-- project description and actions -->
            <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Key Features and Innovations</h2>
            <div class="flex justify-between">
                <div class="lg:max-w-[600px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative overflow-hidden">
                    <span class="font-bold">Empowering Users</span>
                    <ul class="flex flex-col gap-4 sm:gap-6 quick-up list-inside list-disc pl-4">
                        <li><strong>Vote on Bills:</strong> Users can actively express their stance on proposed laws.</li>
                        <li><strong>Contact Representatives:</strong> Direct communication with MPs for feedback and concerns.</li>
                        <li><strong>MP Engagement:</strong> Future updates will allow MPs to have verified accounts to interact with the public.</li>
                        <li><strong>Issue Raising:</strong> MPs will be able to post public issues to gauge citizen reactions before submitting them to Parliament.</li>
                    </ul>
                </div>

                <!-- Right Section -->
                <div class="lg:max-w-[600px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative overflow-hidden">
                    <span class="font-bold">Smart Design Choices</span>
                    <ul class="flex flex-col gap-4 sm:gap-6 quick-up list-inside list-disc pl-4">
                        <li><strong>No Comment Section:</strong> To avoid political toxicity, we removed unmoderated discussions.</li>
                        <li><strong>MVP Focus:</strong> Instead of launching with all planned features, we are starting with core functions for Canada, then expanding based on feedback.</li>
                    </ul>
                    <span>These decisions ensure OpenPolicy remains structured, impactful, and adaptable for long-term success.</span>
                </div>
            </div>
        </section>

        <!-- restructure -->
        <section id='re-structure' class="h-screen overflow-hidden grid lg:grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[200px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[700px] flex flex-col lg:justify-center gap-4 xl:gap-6 relative box-parent overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Restructuring the Foundation</h2>
                <p class="quick-up flex flex-col gap-4"> 
                    <span>When I took over the design of OpenPolicy, the existing app was in rough shape. The user experience was <strong>cluttered, unintuitive, and ultimately rejected by iOS</strong> for multiple reasons. My first challenge was to untangle the chaos and bring clarity to the experience.</span>
                    <span>Since there was no PRD (Product Requirements Document), I had to reverse-engineer the app’s core functionalities, understanding what worked, what didn’t, and what needed a complete overhaul. Rather than start from scratch, I focused on <strong>refining the navigation, improving hierarchy, and eliminating friction points.</strong></span>
                    <span>I began by mapping out the new user flow, ensuring that every interaction felt logical and purposeful. The goal was simple: <strong>Make it effortless for users to stay informed, vote on policies, and contact representatives.</strong></span>
                </p>
                <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div>

                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>

            <!-- image -->
            <div class="lg:flex items-center overflow-hidden justify-end p-20 w-full bg-gray-200 bg-[url('/images/pencil_hoops/sections/k.jpg')] rounded-lg bg-center bg-no-repeat bg-cover hidden relative box-parent">
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>
		</section>

        <!-- sketching the concept -->
        <section id="sketching" class="h-screen overflow-hidden flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6 box-parent">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Wireframing and UX Improvements</h2>
                <p class="quick-up">With the user flow defined, I sketched out low-fidelity wireframes to visualize how users would navigate through the app. Some of the key UX improvements included:</p>
                <ul class="list-disc pl-5 quick-up">
                    <li>A cleaner home dashboard that summarizes key updates at a glance.</li>
                    <li>Simplified navigation with clear categories (Bills, Debates, Committees) to avoid information overload.</li>
                    <li>A seamless voting system that allows users to express their stance on bills without unnecessary steps.</li>
                </ul>
                <p class="quick-up">After validating the wireframes, I transitioned into high-fidelity designs in Figma, refining typography, spacing, and accessibility to create a layout that feels modern yet authoritative.</p>
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>

            <!-- pics --> 
            <div class="grid-cols-3 grid grid-rows-2 gap-2 w-full h-full bg-gray-200 box-parent">
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>
		</section>

        <!-- visual aesthetics -->
        <section id="wireframes" class="h-screen overflow-hidden flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-4 md:gap-6 xl:gap-8 box-parent">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Visual Aesthetics and Interaction Design</h2>
                <p class="quick-up">Since OpenPolicy is a government-related platform, the design needed to feel professional yet approachable. To achieve this, I focused on:</p>
                <ul class="list-disc pl-5 flex flex-col gap-4 quick-up">
                    <li>
                        <p><b>A neutral, minimal color palette</b> to keep the interface clean and distraction-free.</p>
                    </li>
                    <li>
                        <p><b>Bold, easy-to-read typography</b> for quick scanning of policies and bills.</p>
                    </li>
                    <li>
                        <p><b>Microinteractions and smooth transitions</b> to make interactions feel intuitive and engaging.</p>
                    </li>
                </ul>
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>

            <!-- pics --> 
            <div class="grid-cols-3 grid grid-rows-2 gap-2 w-full h-full bg-gray-200 box-parent">
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>
		</section>

        <!-- High Fidelity Design -->
        <section id="feature-selection" class="h-screen overflow-hidden flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-4 md:gap-6 xl:gap-8 box-parent">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">High-Fidelity Designs and Final Touches</h2>
                <p class="flex flex-col gap-4">
                    <span>Once the UI was polished, I worked closely with developers to ensure pixel-perfect implementation. I provided <b>detailed annotations, interactive prototypes, and component-based designs</b>, making the handoff smooth and efficient.</span>
                    <span>As the MVP rolls out to beta testers, I'll be <b>monitoring feedback and iterating</b> based on real-world usage. This first phase will shape the next version, ensuring that OpenPolicy isn't just functional, but a game-changer in how people engage with their government.</span>
                </p>
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>

            <!-- pics --> 
            <div class="grid-cols-3 grid grid-rows-2 gap-2 w-full h-full bg-gray-200 box-parent">
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>
		</section>
        
        <!-- 05 Next Steps-->
        <div id="next-steps" class="hide-bottom-nav bg-black text-white">
            <section class="h-screen overflow-hidden flex items-center pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[600px] flex flex-col justify-center gap-4 xl:gap-10">
                    <p class="text-4xl font-cookie quick-down">05</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[20px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Next Steps</h2>
                </div>
            </section>
        </div>

        <!-- current steps -->
        <section id='branding' class="h-screen overflow-hidden grid lg:grid-cols-2 pb-8 pt-[100px] md:pt-[120px] lg:pt-[200px] lg:px-20 px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[600px] flex flex-col lg:justify-center gap-4 xl:gap-6 relative box-parent overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Current Status and Next Steps</h2>
                <p>With the MVP set to launch, the next steps focus on refining and expanding the platform:</p>
                <ul class="list-disc pl-5 flex flex-col gap-4">
                    <li>
                        <p><b>Beta Testing</b>: Releasing the app to a small group of users to gather feedback.</p>
                    </li>
                    <li>
                        <p><b>Iterating Based on Feedback</b>: Using real-world insights to improve the experience.</p>
                    </li>
                    <li>
                        <p><b>Government Adoption</b>: Engaging with multiple government bodies to establish OpenPolicy as an official platform.</p>
                    </li>
                </ul>
                {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                }
            </div>
		</section>

		<!-- closing statement -->
        <div id='closing' class="hide-bottom-nav">
            <section class="h-screen overflow-hidden flex items-center pb-8 pt-[100px] md:pt-[120px] lg:pt-[150px] lg:px-20 px-10 max-w-[1700px] mx-auto gap-4 xl:gap-10">
                <!-- project description and actions -->
                <div class="flex flex-col justify-center">
                    <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 heading-up-footer">Closing Statement</h2>
    
                    <p class="heading-up-footer">
                        OpenPolicy is an ambitious project designed to reshape how people engage with their government. With a clean design, structured functionality, and a clear vision, it’s built to empower citizens like never before.
                        But the journey isn’t over. The MVP launch and feedback loop will be key in refining and shaping the platform’s future, turning OpenPolicy into a truly impactful tool for civic engagement.
                    </p>
                </div>
            </section>
        </div>
		
	</main>
    </div>
	<Footer />
</Layout>

<style>

</style>

<script>
import Alpine from 'alpinejs';
    import gsap from "gsap";
    import Lenis from "lenis";
    import { ScrollTrigger, ScrollToPlugin } from "gsap/all";
    gsap.registerPlugin(ScrollTrigger, ScrollToPlugin)

    gsap.config({
        nullTargetWarn: false,
    })

    // initialise lenis
    const lenis = new Lenis({
        autoRaf: true,
    });

    let previousScroll = 0;
    // Listen for the scroll event and log the event data
    // lenis.on('scroll', (e) => {
    //     // console.log(e);
    // });

    // lenis.on('scroll', ScrollTrigger.update);
    // gsap.ticker.lagSmoothing(0);

    document.addEventListener("click", function (e) {
        const currentScroll = window.scrollY;

        let Etarget = e.target as HTMLElement
        const anchor = Etarget.closest("a[href^='#']");
        if (!anchor) return;

        e.preventDefault();
        const targetId = anchor.getAttribute("href");
        const target = document.querySelector(targetId) as HTMLElement;

        if (target) {
            let targetPos = target.offsetTop;
 
            if(targetPos < currentScroll) //scroll up
                lenis.scrollTo(target, {duration: 0});
            else // scroll down
                lenis.scrollTo(target, {duration: 2.5, 
                easing : (x) => x < 0.5 ? (1 - Math.sqrt(1 - Math.pow(2 * x, 2))) / 2 : (Math.sqrt(1 - Math.pow(-2 * x + 2, 2)) + 1) / 2
            });

            history.pushState(null, "", targetId);
        }
    });

    const downArrow = document.querySelector('a.down-arrow') as HTMLAnchorElement;
    const upArrow = document.querySelector('a.up-arrow') as HTMLAnchorElement;


    // document.addEventListener('alpine:init', () => {
    //     Alpine.data('active', () => ({
    //         open: false,
 
    //         toggle() {
    //             this.open = ! this.open
    //         }
    //     }))
    // })
    function scrollUp(){
        lenis.scrollTo(downArrow.getAttribute('href'), {duration: 2.5, 
            easing : (x) => x < 0.5 ? (1 - Math.sqrt(1 - Math.pow(2 * x, 2))) / 2 : (Math.sqrt(1 - Math.pow(-2 * x + 2, 2)) + 1) / 2
        });
        window.dispatchEvent(new CustomEvent('hash-update', { detail: downArrow.getAttribute('href').slice(1) }));
    }

    function scrollDown(){
        lenis.scrollTo(upArrow.getAttribute('href'), {duration: 0});
        window.dispatchEvent(new CustomEvent('hash-update', { detail: upArrow.getAttribute('href').slice(1) }));
    }

    document.addEventListener('keydown', function(event) {
        if (event.key === 'ArrowDown') {
            scrollUp()
        }
    });

    document.addEventListener('keydown', function(event) {
        if (event.key === 'ArrowUp') {
            scrollDown()
        }
    });

    let intervalId = null;
    window.addEventListener('wheel', (e) => {
        e.preventDefault(); // stop actual scrolling
        const direction = e.deltaY > 0 ? 'down' : 'up';
        lenis.stop()

        // clearTimeout
        console.log('here')
        clearTimeout(intervalId)
        intervalId = setTimeout(() => {
            lenis.start()
            if(direction == 'up') scrollUp()
            else scrollDown()

            console.log('inside', lenis)
        }, 50);


        // if(direction == 'up') scrollUp()
        // else scrollDown()
    }, { passive: false });

    


    gsap.fromTo(".hero-img",{
        translateX : '-50%'
    }, {
        translateX : '0%',
        opacity : 1,
        duration : 2,
        scrollTrigger: {
            trigger: '.hero-img',  // Each element triggers individually
            // start: "top 80%",  // Animation starts when the element is 80% in view
            end: "bottom 92%",
            toggleActions: "play reverse play reset",  // Only plays once
            // markers : true,
        },
    })

    gsap.fromTo(".closing-img",{
        translateY : '20%',
        opacity : 0
    }, {
        translateY : '0%',
        opacity : 1,
        duration : 2,
        scrollTrigger: {
            trigger: '.closing-img',  // Each element triggers individually
            // start: "top 80%",  // Animation starts when the element is 80% in view
            end: "bottom 50%",
            toggleActions: "play reverse play reset",  // Only plays once
            // markers : true,
        },
    })

    

    document.querySelectorAll('section').forEach((section) => {
        gsap.fromTo(section.querySelectorAll('.heading-up'),{translateY : '50%', opacity : 0}, {
            translateY: 0,
            opacity: 1,
            duration: 1,
            ease: "power2.out",
            stagger: 0.4,
            scrollTrigger: {
                trigger: section,  // Each element triggers individually
                start: "top 20%",  // Animation starts when the element is 80% in view
                end: "bottom 96%",
                toggleActions: "play reverse play reset", // Only plays once
                // markers : true,
            },
        });

        gsap.fromTo(section.querySelectorAll('.heading-up-footer'),{translateY : '50%', opacity : 0}, {
            translateY: 0,
            opacity: 1,
            duration: 1,
            ease: "power2.out",
            stagger: 0.4,
            scrollTrigger: {
                trigger: section,  // Each element triggers individually
                start: "top 20%",  // Animation starts when the element is 80% in view
                end: "bottom 50%",
                toggleActions: "play reverse play reset", // Only plays once
                // markers : true,
            },
        });

        gsap.fromTo(section.querySelectorAll('.quick-right'),{translateX : '50%', opacity : 0}, {
            translateX: 0,
            opacity: 1,
            duration: 0.8,
            ease: "power2.out",
            stagger: 0.2,
            scrollTrigger: {
                trigger: section,  // Each element triggers individually
                start: "top 20%",  // Animation starts when the element is 80% in view
                end: "bottom 95%",
                toggleActions: "play reverse play reset",  // Only plays once
                // markers : true,
            },
        });

        gsap.fromTo(section.querySelectorAll('.quick-up'), {opacity : 0, translateY : '50%'}, {
            translateY: 0,
            opacity: 1,
            duration: 0.8,
            ease: "power2.out",
            stagger: 0.2,
            scrollTrigger: {
                trigger: section,  // Each element triggers individually
                start: "top 20%",  // Animation starts when the element is 80% in view
                end: "bottom 95%",
                // scrub : true,
                toggleActions: "play reverse play reset",  // Only plays once
                // markers : true,
            },
        });

        gsap.fromTo(section.querySelectorAll('.quick-down'), {opacity : 0, translateY : '-50%'}, {
            translateY: 0,
            opacity: 1,
            duration: 0.8,
            ease: "power2.out",
            stagger: 0.2,
            scrollTrigger: {
                trigger: section,  // Each element triggers individually
                start: "top 20%",  // Animation starts when the element is 80% in view
                end: "bottom 95%",
                // scrub : true,
                toggleActions: "play reverse play reset",  // Only plays once
                // markers : true,
            },
        });

        gsap.fromTo(section.querySelectorAll('.quick-appear'), {opacity : 0}, {
            opacity: 1,
            duration: 0.8,
            ease: "power2.out",
            stagger: 0.2,
            scrollTrigger: {
                trigger: section,  // Each element triggers individually
                start: "top 20%",  // Animation starts when the element is 80% in view
                end: "bottom 99%",
                // scrub : true,
                toggleActions: "play reverse play reset",  // Only plays once
                // markers : true,
            },
        });

    })



    document.querySelectorAll('.box-parent').forEach((boxParent) => {
        gsap.fromTo(boxParent.querySelectorAll('.box'),{
            xPercent : 0
        }, { 
            xPercent : 100,
            duration : 0.6,
            ease : "power1.out",
            stagger : 0.08,
            scrollTrigger: {
                trigger: boxParent,  // Each element triggers individually
                start: "top 50%",  // Animation starts when the element is 80% in view
                end: "bottom 92%",
                // scrub : true,
                toggleActions: "play reverse play reset",  // Only plays once
                // markers : true,
            },
        });
    })


    // for the footer
    let footer = document.querySelector('#contact') as HTMLElement
    let footerAnim = gsap.fromTo('.bottom-nav', { bottom : 0}, {
        bottom : footer.clientHeight,
        duration: 2,
        paused : true,
        ease: "circ.inOut",
        // scrollTrigger: {
        //     // trigger: '#contact',  // Each element triggers individually
        //     // start: "top 20%",  // Animation starts when the element is 80% in view
        //     // end: "bottom 95%",
        //     // scrub : true,
        //     // toggleActions: "play reverse play reverse",  // Only plays once
        //     // markers : true,
        // },
    });

    let dissappearBottomNav = gsap.fromTo('.bottom-nav', { opacity : 1}, {
        opacity : 0,
        duration: 2,
        paused : true,
        ease: "circ.inOut",
        // scrollTrigger: {
        //     // trigger: '#contact',  // Each element triggers individually
        //     // start: "top 20%",  // Animation starts when the element is 80% in view
        //     // end: "bottom 95%",
        //     // scrub : true,
        //     // toggleActions: "play reverse play reverse",  // Only plays once
        //     // markers : true,
        // },
    });

    // move bottom nav when footer shows
    ScrollTrigger.create({
        trigger: '#contact',
        // start: 'top top',
        // endTrigger: '#otherID',
        end: 'bottom 50%+=100px',
        onToggle: (self) => console.log('toggled, isActive:', self.isActive),
        onUpdate: (self) => {

            if(self.direction == 1){
                footerAnim.duration(2)
                footerAnim.play();
            }else{
                footerAnim.duration(0)
                footerAnim.reverse()
            }
        }
    });

    // dissappear footer on certain pages
    ['#quick-overview', '#research-and-insights', '#design-process', '#collaboration', '#next-steps', '#closing'].forEach(section => {
        ScrollTrigger.create({
            trigger: section,
            // start: 'top top',
            // endTrigger: '#otherID',
            // end: 'bottom 50%+=100px',
            onToggle: (self) => {
                if(self.isActive) dissappearBottomNav.play()
                else dissappearBottomNav.reverse()
            },
            onUpdate: (self) => {
                console.log('here2')
                // if(self.direction == 1){
                //     footerAnim.duration(2)
                //     footerAnim.play();
                // }else{
                //     footerAnim.duration(0)
                //     footerAnim.reverse()
                // }
            }
        });
    })
   

   



    // gsap.to(window, { duration: 1, scrollTo: "#hey-there", ease: "bounce.out" });

</script>
