---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro'
import '../styles/style.css'

// console.log('here ', Astro.url)
import { AlignLeft, ArrowLeft, ArrowRight } from 'lucide-react';
import Header from '../layouts/Header.astro';
let links = ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'problem', 'research-and-insights', 'design-process', 'foundation', 'life', 'visual', 'fidelity', 'impact-and-feedback', 'collaboration', 'reflections', 'closing']
let data = {active: 'hero', links: ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'research-and-insights', 'problem', 'design-insights', 'challenges', 'design-process', 'key-features', 're-structure', 'sketching', 'wireframes', 'feature-selection', 'next-steps', 'branding', 'closing', 'contact']}
---

<Layout title="Welcome to Astro.">
	<!-- nav -->
    <div  x-data={JSON.stringify(data)} class="body-cont">
    <Header
        active="Open"
    >
        <!-- lg:absolute lg:opacity-0 lg:-top-[1000px]  -->
        <div class="h-2 flex gap-4 max-w-[700px] w-[40%] md:w-60% lg:w-[80%] overflow-hidden mob-timeline" slot="timeline">
            {
                data.links.map(link => 
                    <a href={"#"+link}  class="mob-timeline-indicator h-2 min-w-5 sm:min-w-5 lg:min-w-4 bg-gray-200 rounded-full"></a>
                )
            }
        </div>
        
    </Header>

    <!-- bottom-nav -->
    <div class="fixed bottom-0 right-0 z-10 flex bg-white pt-4 pl-4 xl:px-10 lg:pl-10 py-6 xl:py-10 bottom-nav">
        <ul class="flex gap-4 text-[#afafaf] font-semibold text-[10px] lg:text-sm">
            <li @click="active = 'quick-overview'" :class="{'text-black' : ['quick-overview', 'quick-overview-2'].includes(active)}"><a href="#quick-overview">Quick Overview</a></li>
            <li @click="active = 'research-and-insights'" :class="{'text-black' : ['research-and-insights', 'problem', 'design-insights', 'competitive', 'challenges'].includes(active)}"><a href="#research-and-insights"> Research and Insights</a></li>
            <li @click="active = 'design-process'" :class="{'text-black' : ['design-process', 'sketching', 'wireframes', 'feature-selection', 'key-features', 're-structure'].includes(active)}"><a href="#design-process"> Design Process</a></li>
            <!-- <li @click="active = 'impact-and-feedback'" :class="{'text-black' : active == 'impact-and-feedback'}"><a href="#impact-and-feedback"> Impact and Feedback</a></li> -->
            <!-- <li @click="active = 'collaboration'" :class="{'text-black' : active == 'collaboration'}"><a href="#collaboration"> Collaboration</a></li> -->
            <li @click="active = 'next-steps'" :class="{'text-black' : ['next-steps', 'current-status', 'branding',].includes(active) }"><a href="#next-steps"> Next Steps</a></li>
            <!-- <li @click="active = 'reflections'" :class="{'text-black' : active == 'reflections'}"><a href="#reflections"> Reflections and Learnings</a></li> -->
        </ul>
    </div>

    <!-- arrow -->
    <a :href="'#' + (links[links.indexOf(active) + 1] || links[links.length])" @click="setTimeout(()=> {active = (links[links.indexOf(active) + 1] || links[links.length])}, 1) " class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-20 bottom-5 z-[1] down-arrow hidden"></a>
    <a :href="'#' + (links[links.indexOf(active) - 1] || links[0])" @click="setTimeout(()=> {active = (links[links.indexOf(active) - 1] || links[0])}, 1) " class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-20 bottom-5 z-[1] up-arrow hidden"></a>


	<main>
		<!-- hero -->
        <div id="hero" class="hide-bottom-nav">
            <section class="min-h-screen flex flex-col md:grid grid-cols-2 px-4 py-20 md:px-10 lg:px-20 max-w-[1700px] mx-auto gap-4 xl:gap-10">
                <!-- image -->
                <div class="flex md:order-2 hero-img items-center slide justify-end  p-20 w-full bg-[url('/images/open-policy/hero.png')] bg-no-repeat bg-contain bg-center md:bg-left h-full relative">
                </div>

                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center items-center text-center md:text-left md:items-start">
                    <h2 class="heading-up font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4  up">
                        OpenPolicy <br>
                        App Design  <span class="text-gray-200">( MVP )</span></h2>
    
                    <p class="heading-up flex flex-col gap-4">
                        <span>OpenPolicy is a platform designed to connect citizens with their government like never before. It allows users to track bills, vote on policies, 
                        and directly engage with representatives, all in one place.</span>
                        
                        <span>As the Product Lead, I redesigned the app from the ground up, transforming a cluttered, unusable experience into a seamless and intuitive platform. 
                        Now, with the MVP launching soon, OpenPolicy is set to revolutionize civic engagement.</span>
                    </p>
    
                    <div class="pt-8 heading-up">
                        <button class="px-4 py-3 rounded-lg text-white bg-[#222222] flex gap-2 items-center">Get it on The Appstore <img src="/icons/ic_baseline-apple.svg" alt="" srcset=""></button>
                    </div>
                </div>

                
            </section> 
        </div>
		

        <!-- hey there -->
        <section id="hey-there" class="lg:px-20 px-10 py-20 min-h-screen flex items-center justify-center relative pt-[100px] max-w-[1700px] mx-auto">
            <h2 class="text-sm sm:text-lg md:text-2xl xl:text-3xl leading-[35px] lg:leading-[48px] xl:leading-[72px] max-w-[1116px] w-[80%] text-[#AFAFAF] quick-appear">
                This is the story of how we took OpenPolicy from a <span class="text-black">messy, unusable app</span> to a <span class="text-black">clean, powerful</span> platform that puts people closer to their government.
            </h2>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
            <!-- <p class="absolute right-20 bottom-[20%] w-[70%] text-right quick-appear">“Wow! Just Wow!! I don’t even know what I’ll change. It’s so fun & easy to use.” - Tunde</p> -->
        </section>

        <!-- table of contents -->
        <section id="table" class="lg:px-20 px-10 py-20 min-h-screen relative max-w-[1700px] mx-auto ">
            <h2 class="font-safira lg:text-sm xl:text-2xl heading-up">Content</h2>
            <div class="max-w-2xl grid grid-cols-[80%_20%] grid-rows-6 mt-20 mx-auto my-auto gap-4 lg:text-xl xl:text-2xl">
                <p class="quick-right">Quick Overview</p><p class="quick-up">01</p>
                <p class="quick-right">Research and Insights</p><p class="quick-up">02</p>
                <p class="quick-right">Design and Features</p><p class="quick-up">03</p>
                <!-- <p class="quick-right">Impact and Feedback</p><p class="quick-up">04</p> -->
                <!-- <p class="quick-right">Collaboration</p><p class="quick-up">04</p> -->
                <p class="quick-right">Next Steps</p><p class="quick-up">04</p>
            </div>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
        </section>

        <!-- 01 -->
        <div id="quick-overview" class="hide-bottom-nav bg-black text-white">
            <section class="min-h-screen grid grid-cols-2 pb-8 max-w-[1700px] mx-auto lg:px-20 px-10 py-20 relative gap-4 xl:gap-6">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-4">
                    <p class="text-4xl font-cookie quick-down">01</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[30px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Quick Overview</h2>
                </div>
    
                <!-- image -->
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k')] bg-blend-color-burn bg-white bg-center bg-no-repeat bg-cover h-full"></div> -->
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>
		

        <!-- 01 - Quick overview -->
        <section id="quick-overview-2" class="min-h-screen flex flex-col lg:grid px-4 py-20 md:px-10 lg:px-20 xl:grid-cols-[auto_auto_auto] lg:grid-cols-[auto_auto_10%]  grid-rows-[auto_auto_auto] lg:gap-4 xl:gap-10 relative max-w-[1700px] mx-auto">
            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4 font-semibold">Product Overview</h3>
            <p class="md:w-full max-w-[900px] pb-2 xl:py-4 border-gray-200 flex flex-col gap-8 col-span-2"><span>OpenPolicy was designed to <b>bridge the gap</b> between the people and the government. Currently, there isn't an official platform that allows citizens to voice their concerns, 
                vote, or engage with bills being passed. OpenPolicy changes that.</span>
                <sapn>The app provides a way for people to stay updated on government policies, track bills, and connect with representatives, all in one place.</sapn>
            </p>
            <!-- <div class="row-span-3 bg-gray-200 w-full rounded-lg"></div> -->

            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4 lg:pt-8 font-semibold">My Role</h3>
            <div class="md:w-full max-w-[900px] lg:border-y-[1px] pb-2 xl:py-4 lg:pt-8 border-gray-200 col-span-2">
                 <p class="">
                    I led the product design and oversaw development to ensure the app aligned with both <b>user needs</b> and <b>business goals.</b> My responsibilities included:
                </p>
                <ul class="text-xs md:text-sm list-disc list-outside p-4 pl-8 space-y-2">
                    <li><b>Full UI/UX Redesign:</b> Transforming the app into a clean, user-friendly experience.</li>
                    <li><b>Website & Dashboard Design:</b> Expanding the platform beyond mobile for broader accessibility.</li>
                    <li><b>Development Oversight:</b> Ensuring that the app was built according to the design vision.</li>
                </ul>
                <p>
                    I worked closely with developers, solving design challenges in real time and ensuring a seamless implementation.
                </p>
            </div>
           

            <!-- <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4">Impact</h3>
            <p class="md:w-full xl:max-w-[500px] pb-2 xl:py-4 border-gray-200">Test users loved it, saying it was fun, easy to use, and visually engaging. The feedback was overwhelmingly positive, 
                with many highlighting how enjoyable and intuitive it felt.
            </p>

            <div class="row-span-3 bg-gray-200 w-full rounded-lg h-full lg:hidden"></div> -->

		</section>

		<!-- 02 -->
        <div id="research-and-insights" class="hide-bottom-nav bg-black text-white">
            <section class="min-h-screen grid grid-cols-2 px-4 py-20 md:px-10 lg:px-20  relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-10">
                    <p class="text-4xl font-cookie quick-down">02</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[30px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Research and Insights</h2>
                    <!-- <p>Our design process was anchored in extensive user research, employing both primary and secondary research methodologies and incorporating qualitative and quantitative data to capture a wide range of consumer insights.</p> -->
                </div>
    
                <!-- image -->
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k')] bg-white bg-center bg-no-repeat bg-cover bg-blend-color-burn"></div> -->
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>

        <!-- the problem -->
        <section id='problem' class="min-h-screen flex items-center lg:grid lg:grid-cols-2 lg:px-20 px-10 py-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[600px] flex flex-col lg:justify-center gap-4 xl:gap-6 relative box-parent ">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">The Problem</h2>
                <p class="quick-up flex flex-col gap-4"> 
                    <span>The idea for OpenPolicy came from recognizing a major gap: there was no structured, official platform for public participation in governance. 
                    The goal was simple: give people a way to follow <strong>what’s happening in Parliament</strong> and <strong>have a say</strong> in the process.</span>
                    <span>There was an existing app when I joined the project, but it had major usability issues. The design was cluttered, confusing, 
                    and didn’t fully support the app’s mission. My task was to <strong>completely redesign the experience</strong>
                    while keeping the core functionalities intact, making it more intuitive and accessible for users.</span>
                </p>
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up h-full bg-gray-200 rounded-lg bg-center bg-no-repeat bg-cover lg:hidden"></div> -->

                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

        <!-- research and design insights -->
        <section id="design-insights" class="min-h-screen flex flex-col justify-end pb-20 gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-rows-[minmax(auto,10%)_auto] lg:grid-cols-[auto_minmax(auto,70%)] lg:items-start lg:px-20 px-10 py-20 relative max-w-[1700px] mx-auto">
            <div class="bg-white w-full h-full col-span-2 lg:block hidden"></div>
            <!-- project description and actions -->
            <div class="lg:max-w-[400px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Challenges and Key Decisions</h2>
                <!-- <ul class="flex flex-col gap-6"> 
                    <li> We conducted interviews, surveys, and competitive analysis to identify key user pain points: </li>
                    <li> <strong>Music Sharing:</strong> Users wanted an easier way to share what they’re listening to. </li>
                    <li> <strong>Battery Monitoring:</strong> Frustration with headphones dying unexpectedly. </li>
                    <li> <strong>Earpad Replacement:</strong> Difficulty replacing worn-out pads. </li>
                    <li> <strong>Quick Controls:</strong> The need for simple, accessible music controls. </li>
                </ul> -->
            </div>

            <!-- points --> 
            <ul class="flex flex-col gap-8 justify-center items-start lg:max-w-[600px]">
                <li class="flex flex-col items-start">
                    <span class="bg-black text-center flex justify-center items-center rounded-full w-[44px] xl:w-[44px] overflow-clip text-bold aspect-square text-white font-bold">1</span>
                    <strong class="text-base self-start mt-6 mb-2 font-bold">Redesigning Without a PRD</strong>
                    <span>When I stepped in, there was no Product Requirements Document (PRD), making it difficult to understand the full scope of the project. I had to reverse-engineer the previous app, speak with stakeholders, and map out the entire system myself.</span>
                </li>
                <li class="flex flex-col items-start">
                    <span class="bg-black text-center flex justify-center items-center rounded-full w-[44px] xl:w-[44px] overflow-clip text-bold aspect-square text-white font-bold">2</span>
                    <strong class="text-base self-start mt-6 mb-2 font-bold">Navigating an App Store Rejection</strong>
                    <span>One of the biggest hurdles was that the original app had been rejected by iOS. A key reason? <strong>Comment moderation.</strong></span>
                    <span>Allowing users to comment freely on political issues could lead to toxicity, misinformation, and even legal concerns. I made a major design decision to <strong>remove the comment section entirely.</strong> This would prevent unregulated debates while keeping the platform professional and constructive.</span>
                </li>
            </ul>
		</section>

         <!-- challenges -->
         <section id="challenges" class="min-h-screen flex flex-col justify-start pb-20 gap-4 lg:gap-8 xl:gap-16 lg:grid  lg:grid-cols-[auto_minmax(auto,70%)] lg:items-start lg:px-20 px-10 py-20 relative max-w-[1700px] mx-auto">
            <!-- <div class="bg-white w-full h-full col-span-2 lg:block hidden"></div> -->
            <!-- project description and actions -->
            <div class="lg:max-w-[400px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Challenges and Key Decisions</h2>
                <!-- points --> 
                <div class="w-full aspect-square bg-[url('/images/open-policy/challenges.png')] bg-center bg-no-repeat bg-contain lg:hidden"></div>
                <ul class="flex flex-col gap-8 justify-center items-start lg:max-w-[600px]">
                    <li class="flex flex-col items-start">
                        <span class="bg-black text-center flex justify-center items-center rounded-full w-[44px] xl:w-[44px] overflow-clip text-bold aspect-square text-white font-bold">3</span>
                        <strong class="text-base self-start mt-6 mb-2 font-bold">Creating a More Engaging Interface</strong>
                        <span>The old app lacked structure and visual clarity, making it difficult for users to navigate. I focused on three key areas to improve usability:</span>
                        <ul class="list-disc pl-6 flex flex-col gap-4 mt-4">
                            <li><strong>Simplifying Navigation:</strong> Ensuring key sections (Bills, Debates, Committees) were easily accessible.</li>
                            <li><strong>Clear Information Hierarchy:</strong> Using typography and spacing to highlight key actions.</li>
                            <li><strong>Aesthetics & Accessibility:</strong> A minimal, readable design with high-contrast elements for better usability.</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- points --> 
            <div class="w-full h-full bg-[url('/images/open-policy/challenges.png')] bg-center bg-no-repeat bg-contain hidden lg:block"></div>
		</section>

        <!-- competitive analysis -->
        <!-- <section id="competitive" class="min-h-screen flex flex-col gap-4 px-4 py-20 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <div class="flex flex-col gap-2 md:gap-4 xl:gap-6">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] my-2">Competitive Analysis</h2>
                <ul class="flex flex-col gap-6 list-inside list-disc"> 
                    <li> Who are our key competitors? </li>
                    <li> What is the best headphone on the market, and what are its qualities? </li>
                    <li> We conducted interviews, surveys, and competitive analysis to identify key user pain points: </li>
                </ul>
            </div>

            <div class="bg-gray-100 px-10 py-6 xl:text-sm text-xs">
            <table class="">
                <thead class="">
                    <tr class="text-left">
                        <th class="bg-gray-200 py-4 px-2 pl-8">Competitors </th>
                        <th class="bg-gray-200 py-4 px-2 "> Top Products </th>
                        <th class="bg-gray-200 py-4 px-2 "> Product Strength </th>
                        <th class="bg-gray-200 py-4 px-2 pr-8">Product Weaknesses </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-gray-100 py-4 px-2 w-[15%] pl-8">Bose</td>
                        <td class="bg-gray-100 py-4 px-2 w-[15%]">Bose<br>QuietComfort<br>45/QC45</td>
                        <td class="bg-gray-100 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Very comfortable and great for commute and travel.</li>
                                <li>Good build quality.</li>
                                <li>Excellent noise isolation performance.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-100 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Bulky and can fall off your head with more intense movement.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray-200 py-4 px-2 w-[15%] pl-8">Sony</td>
                        <td class="bg-gray-200 py-4 px-2 w-[15%]">Sony<br>WH-1000XM4</td>
                        <td class="bg-gray-200 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Comfortable fit.</li>
                                <li>Incredible ANC performance.</li>
                                <li>Over 37-hour continuous battery life.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-200 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Bulky design..</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray-100 py-4 px-2 w-[15%] pl-8">Apple</td>
                        <td class="bg-gray-100 py-4 px-2 w-[15%]">Apple AirPods <br>Max</td>
                        <td class="bg-gray-100 py-4 px-2 w-[35%]">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Great noise cancelling.</li>
                                <li>Great build quality.</li>
                                <li>Over 21 hours of continuos battery life.</li>
                            </ul>
                        </td>
                        <td class="bg-gray-100 py-4 px-2 w-[25%] pr-8">
                            <ul class="list-disc flex flex-col pl-4 gap-4">
                                <li>Heavy, bulky design which can be fatiguing to wear.</li>
                                <li>Audio cable not included.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
		</section> -->

        <!-- 03 -->
        <div id="design-process" class="hide-bottom-nav bg-black text-white">
            <section class="min-h-screen grid grid-cols-2 px-4 py-20 md:px-10 lg:px-20 relative gap-4 xl:gap-6 max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-10">
                    <p class="text-4xl font-cookie quick-down">03</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[30px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Design and Features</h2>
                </div>
    
                <!-- image -->
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k.jpg')] bg-white bg-center bg-no-repeat bg-cover h-full"></div> -->
            </section>
        </div>

        <!-- key features -->
        <section id='key-features' class="min-h-screen xl:gap-20 flex flex-col justify-center px-4 py-20 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto box-parent">
            <!-- project description and actions -->
            <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Key Features and Innovations</h2>
            <div class="flex flex-col lg:flex-row justify-between gap-4">
                <div class="lg:max-w-[600px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative ">
                    <span class="font-bold">Empowering Users</span>
                    <ul class="flex flex-col gap-4 sm:gap-6 quick-up list-inside list-disc pl-4">
                        <li><strong>Vote on Bills:</strong> Users can actively express their stance on proposed laws.</li>
                        <li><strong>Contact Representatives:</strong> Direct communication with MPs for feedback and concerns.</li>
                        <li><strong>MP Engagement:</strong> Future updates will allow MPs to have verified accounts to interact with the public.</li>
                        <li><strong>Issue Raising:</strong> MPs will be able to post public issues to gauge citizen reactions before submitting them to Parliament.</li>
                    </ul>
                </div>

                <!-- Right Section -->
                <div class="lg:max-w-[600px] flex flex-col lg:justify-start gap-4 xl:gap-6 relative ">
                    <span class="font-bold">Smart Design Choices</span>
                    <ul class="flex flex-col gap-4 sm:gap-6 quick-up list-inside list-disc pl-4">
                        <li><strong>No Comment Section:</strong> To avoid political toxicity, we removed unmoderated discussions.</li>
                        <li><strong>MVP Focus:</strong> Instead of launching with all planned features, we are starting with core functions for Canada, then expanding based on feedback.</li>
                    </ul>
                    <span>These decisions ensure OpenPolicy remains structured, impactful, and adaptable for long-term success.</span>
                </div>
            </div>
        </section>

        <!-- restructure -->
        <section id='re-structure' class="min-h-screen grid lg:grid-cols-2 lg:px-20 px-4 md:px-10 py-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[700px] flex flex-col lg:justify-center gap-4 xl:gap-6 relative box-parent">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Restructuring the Foundation</h2>
                <div class="flex lg:hidden items-center  justify-end p-20 w-full aspect-square bg-[url('/images/open-policy/restructuring.png')] rounded-lg bg-center bg-no-repeat bg-contain relative box-parent"></div>
                <p class="quick-up flex flex-col gap-4"> 
                    <span>When I took over the design of OpenPolicy, the existing app was in rough shape. The user experience was <strong>cluttered, unintuitive, and ultimately rejected by iOS</strong> for multiple reasons. My first challenge was to untangle the chaos and bring clarity to the experience.</span>
                    <span>Since there was no PRD (Product Requirements Document), I had to reverse-engineer the app’s core functionalities, understanding what worked, what didn’t, and what needed a complete overhaul. Rather than start from scratch, I focused on <strong>refining the navigation, improving hierarchy, and eliminating friction points.</strong></span>
                    <span>I began by mapping out the new user flow, ensuring that every interaction felt logical and purposeful. The goal was simple: <strong>Make it effortless for users to stay informed, vote on policies, and contact representatives.</strong></span>
                </p>

                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- image -->
            <div class="lg:flex items-center  justify-end p-20 w-full bg-[url('/images/open-policy/restructuring.png')] rounded-lg bg-center bg-no-repeat bg-contain hidden relative box-parent">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

        <!-- sketching the concept -->
        <section id="sketching" class="min-h-screen flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-2 px-4 py-20 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4 xl:gap-6 box-parent">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Wireframing and UX Improvements</h2>
                <div class="grid-cols-3 grid grid-rows-2 gap-2 w-full aspect-square box-parent bg-[url('/images/open-policy/wireframing.png')] bg-center bg-contain bg-no-repeat lg:hidden"></div>
                <p class="quick-up">With the user flow defined, I sketched out low-fidelity wireframes to visualize how users would navigate through the app. Some of the key UX improvements included:</p>
                <ul class="list-disc pl-5 quick-up">
                    <li>A cleaner home dashboard that summarizes key updates at a glance.</li>
                    <li>Simplified navigation with clear categories (Bills, Debates, Committees) to avoid information overload.</li>
                    <li>A seamless voting system that allows users to express their stance on bills without unnecessary steps.</li>
                </ul>
                <p class="quick-up">After validating the wireframes, I transitioned into high-fidelity designs in Figma, refining typography, spacing, and accessibility to create a layout that feels modern yet authoritative.</p>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- pics -->  
            <div class="grid-cols-3 lg:grid grid-rows-2 gap-2 w-full h-full box-parent bg-[url('/images/open-policy/wireframing.png')] bg-center bg-contain bg-no-repeat hidden">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

        <!-- visual aesthetics -->
        <section id="wireframes" class="min-h-screen flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-2 px-4 py-20 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-4 md:gap-6 xl:gap-8 box-parent">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Visual Aesthetics and Interaction Design</h2>
                <div class="grid-cols-3 grid lg:hidden grid-rows-2 gap-2 w-full aspect-square bg-[url('/images/open-policy/visual-asthetics.gif')] bg-contain bg-center bg-no-repeat box-parent"></div>
                <p class="quick-up">Since OpenPolicy is a government-related platform, the design needed to feel professional yet approachable. To achieve this, I focused on:</p>
                <ul class="list-disc pl-5 flex flex-col gap-4 quick-up">
                    <li>
                        <p><b>A neutral, minimal color palette</b> to keep the interface clean and distraction-free.</p>
                    </li>
                    <li>
                        <p><b>Bold, easy-to-read typography</b> for quick scanning of policies and bills.</p>
                    </li>
                    <li>
                        <p><b>Microinteractions and smooth transitions</b> to make interactions feel intuitive and engaging.</p>
                    </li>
                </ul>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- pics --> 
            <div class="grid-cols-3 hidden lg:grid grid-rows-2 gap-2 w-full h-full bg-[url('/images/open-policy/visual-asthetics.gif')] bg-contain bg-center bg-no-repeat box-parent">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

        <!-- High Fidelity Design -->
        <section id="feature-selection" class="min-h-screen flex flex-col gap-4 lg:gap-8 xl:gap-16 lg:grid lg:grid-cols-2 px-4 py-20 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-4 md:gap-6 xl:gap-8 box-parent">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">High-Fidelity Designs and Final Touches</h2>
                <div class="grid-cols-3 grid lg:hidden grid-rows-2 gap-2 w-full aspect-square bg-[url('/images/open-policy/visual-asthetics.gif')] bg-contain bg-center bg-no-repeat box-parent"></div>
                <p class="flex flex-col gap-4">
                    <span>Once the UI was polished, I worked closely with developers to ensure pixel-perfect implementation. I provided <b>detailed annotations, interactive prototypes, and component-based designs</b>, making the handoff smooth and efficient.</span>
                    <span>As the MVP rolls out to beta testers, I'll be <b>monitoring feedback and iterating</b> based on real-world usage. This first phase will shape the next version, ensuring that OpenPolicy isn't just functional, but a game-changer in how people engage with their government.</span>
                </p>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- pics --> 
            <div class="grid-cols-3 hidden lg:grid grid-rows-2 gap-2 w-full h-full bg-[url('/images/open-policy/visual-asthetics.gif')] bg-contain bg-center bg-no-repeat box-parent">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>
        
        <!-- 05 Next Steps-->
        <div id="next-steps" class="hide-bottom-nav bg-black text-white">
            <section class="min-h-screen flex items-center px-4 py-20 md:px-10 lg:px-20 relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[600px] flex flex-col justify-center gap-4 xl:gap-10">
                    <p class="text-4xl font-cookie quick-down">05</p>
                    <h2 class="font-safira text-sm md:text-xl 2xl:text-5xl leading-[30px] xl:leading-[80px] 2xl:leading-[80px] my-2 quick-down">Next Steps</h2>
                </div>
            </section>
        </div>

        <!-- current steps -->
        <section id='branding' class="min-h-screen grid lg:grid-cols-2 lg:px-20 px-10 py-20 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[600px] flex flex-col lg:justify-center gap-4 xl:gap-6 relative box-parent ">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Current Status and Next Steps</h2>
                <p>With the MVP set to launch, the next steps focus on refining and expanding the platform:</p>
                <ul class="list-disc pl-5 flex flex-col gap-4">
                    <li>
                        <p><b>Beta Testing</b>: Releasing the app to a small group of users to gather feedback.</p>
                    </li>
                    <li>
                        <p><b>Iterating Based on Feedback</b>: Using real-world insights to improve the experience.</p>
                    </li>
                    <li>
                        <p><b>Government Adoption</b>: Engaging with multiple government bodies to establish OpenPolicy as an official platform.</p>
                    </li>
                </ul>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

		<!-- closing statement -->
        <div id='closing' class="hide-bottom-nav">
            <section class="min-h-screen flex items-center px-4 py-20 md:px-10 lg:px-20 max-w-[1700px] mx-auto gap-4 xl:gap-10">
                <!-- project description and actions -->
                <div class="flex flex-col justify-center">
                    <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 heading-up-footer">Closing Statement</h2>
    
                    <p class="heading-up-footer">
                        OpenPolicy is an ambitious project designed to reshape how people engage with their government. With a clean design, structured functionality, and a clear vision, it’s built to empower citizens like never before.
                        But the journey isn’t over. The MVP launch and feedback loop will be key in refining and shaping the platform’s future, turning OpenPolicy into a truly impactful tool for civic engagement.
                    </p>
                </div>
            </section>
        </div>
		
	</main>
    </div>
	<Footer />
</Layout>

<style>

</style>

<script src="../scripts/HeaderProgressIndicator.ts"></script>
<script src="../scripts/events.ts"></script>
<script>
import {gsap, ScrollTrigger} from '../scripts/setup.ts'
import {dissappearBottomNav} from '../scripts/animations.ts'

['#hero', '#quick-overview', '#research-and-insights', '#design-process', '#collaboration', '#next-steps', '#closing', '#key-features', '#market-strategy', '#conclusion', '#contact'].forEach(section => {
        ScrollTrigger.create({
            trigger: section,
            // start: 'top top',
            // endTrigger: '#otherID',
            // end: 'bottom 50%+=100px',
            onEnter : () => {
				// console.log('we just enter timeline')
				dissappearBottomNav.play()
                // console.log('enter top')
			},
			onLeave : () => {
				dissappearBottomNav.reverse()
                // console.log('on leave bottom')
			},
			onEnterBack : () => {
				dissappearBottomNav.play()
                // console.log('enter bottom')
			},
			onLeaveBack : () => {
				// dissappearBottomNav.play()
                // console.log('on leave top')
			}
        });
    })
</script>
