---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
import '../styles/style.css'

// console.log('here ', Astro.url)
import {range} from '../scripts/app.ts'
import { AlignLeft, ArrowLeft, ArrowRight, Play, Pause } from 'lucide-react';
import Header from '../layouts/Header.astro';
let links = ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'problem', 'research-and-insights', 'design-process', 'foundation', 'life', 'visual', 'fidelity', 'impact-and-feedback', 'collaboration', 'reflections', 'closing']
let data = {active: 'hero', links: ['hero', 'hey-there', 'table', 'quick-overview', 'quick-overview-2', 'research-and-insights', 'problem', 'design-insights', 'design-process', 'foundation', 'life', 'visual', 'fidelity', 'impact-and-feedback', 'collaboration', 'reflections', 'learnings', 'closing', 'contact']}
---

<Layout title="Welcome to Astro.">
	<!-- nav -->
    <div  x-data={JSON.stringify(data)} x-effect="active = window.location.hash?.slice(1) || 'hero'"  @hash-update.window="active = $event.detail"} class="body-cont">
    <Header
        active="Hoops"
    >
        <!-- lg:absolute lg lg:-top-[1000px]  -->
        <div class="h-2 flex gap-4 max-w-[700px] w-[40%] md:w-60% lg:w-[80%] overflow-hidden mob-timeline" slot="timeline">
            {
                data.links.map(link => 
                    <a href={"#"+link}  class="mob-timeline-indicator h-2 min-w-5 sm:min-w-5 lg:min-w-4 bg-gray-200 rounded-full"></a>
                )
            }
        </div>
        
    </Header>

    <!-- bottom-nav -->
    <div class="fixed bottom-0 right-0 z-10 flex bg-white pt-4 pl-4 xl:px-4 md:px-10 lg:pl-10 py-6 xl:py-10 bottom-nav">
        <ul class="flex gap-4 text-[#afafaf] font-semibold text-[6px] sm:text-[10px] lg:text-sm">
            <li @click="active = 'quick-overview'" :class="{'text-black' : active == 'quick-overview'}"><a href="#quick-overview">Quick Overview</a></li>
            <li @click="active = 'research-and-insights'" :class="{'text-black' : active == 'research-and-insights'}"><a href="#research-and-insights"> Research and Insights</a></li>
            <li @click="active = 'design-process'" :class="{'text-black' : active == 'design-process'}"><a href="#design-process"> Design Process</a></li>
            <li @click="active = 'impact-and-feedback'" :class="{'text-black' : active == 'impact-and-feedback'}"><a href="#impact-and-feedback"> Impact and Feedback</a></li>
            <li @click="active = 'collaboration'" :class="{'text-black' : active == 'collaboration'}"><a href="#collaboration"> Collaboration</a></li>
            <li @click="active = 'reflections'" :class="{'text-black' : active == 'reflections'}"><a href="#reflections"> Reflections and Learnings</a></li>
        </ul>
    </div>

    <!-- arrow -->
    <a :href="'#' + (links[links.indexOf(active) + 1] || links[links.length])" @click="setTimeout(()=> {active = (links[links.indexOf(active) + 1] || links[links.length])}, 1) " class="h-[50px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-10 bottom-5 z-[1] down-arrow"></a>
    <a :href="'#' + (links[links.indexOf(active) - 1] || links[0])" @click="setTimeout(()=> {active = (links[links.indexOf(active) - 1] || links[0])}, 1) " class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] fixed left-20 bottom-5 z-[1] up-arrow hidden"></a>


	<main>
		<!-- hero -->
        <div id="hero" class="bg-[#ececec]">
            <section class="min-h-screen flex flex-col justify-center items-center md:grid md:grid-cols-2 py-20 lg:px-20 px-4 md:px-10 max-w-[1700px] mx-auto">
                <!-- image -->
                <div class="flex hero-img bg-center items-center slide justify-end overflow-hidden p-20 w-full bg-[url('/images/pencil_hoops/sections/1.jpg')] bg-blend-darken bg-[#ececec] bg-no-repeat bg-contain md:bg-left h-full relative">
                    <!-- {
                        [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-gray-100 left-0 right-0 absolute h-[20%] slide-2 box"></div>)
                    } -->
                    <!-- <div class="bg-gray-100 top-0 left-0 right-0 absolute h-[20%] slide-1 box"></div>
                    <div class="bg-gray-100 top-[20%] left-0 right-0 absolute h-[20%] slide-2 box"></div>
                    <div class="bg-gray-100 top-[40%] left-0 right-0 absolute h-[20%] slide-3 box"></div>
                    <div class="bg-gray-100 top-[60%] left-0 right-0 absolute h-[20%] slide-4 box"></div>
                    <div class="bg-gray-100 top-[80%] left-0 right-0 absolute h-[20%] slide-5 box"></div> -->
                </div>
    
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center text-center md:text-left">
                    <h2 class="heading-up font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4  up">Creating an Immersive Experience with Pencil Hoops</h2>
    
                    <p class="heading-up flex flex-col gap-4">
                        <span>Pencil Hoops is an interactive, people-friendly website designed for NBA fans 
                        who appreciate the art of pencil sketching.</span><span>
                        It blends minimal design, accessibility, and engaging experiences, combining stunning pencil sketches with 
                        interactive animations and dynamic sound effects to bring NBA moments to life.</span>
                    </p>
    
                    <div class="pt-4">
                        <a href="https://pencil-hoops.netlify.app/" target="_blank" class="inline-block"><button class="px-4 py-3 rounded-lg text-white bg-[#222222] flex gap-2 items-center">Tour on the Website <img src="/icons/mdi_basketball.svg" alt="" srcset=""></button></a>
                    </div>
                </div>
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section> 
            <!-- <h2 x-data="{test : window.location.hash?.slice(1,window.location.hash?.length)}" x-text="active"></h2> -->
        </div>
		

        <!-- hey there -->
        <section id="hey-there" class="lg:px-20 px-4 md:px-10 h-screen flex items-center justify-center relative py-20 max-w-[1700px] mx-auto">
            <h2 class="text-sm sm:text-lg md:text-2xl xl:text-4xl leading-[35px] lg:leading-[48px] xl:leading-[55px] max-w-[1116px] w-[80%] text-[#AFAFAF] quick-appear">Hey there! This isn’t just a case study; it’s a story of the <span class="text-black">work</span>, the <span class="text-black">process</span>, and the <span class="text-black">thoughts</span> behind it. My goal is to keep things fun and straightforward, enjoy!</h2>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
            <p class="absolute right-20 bottom-[20%] w-[70%] text-right quick-appear">“Wow! Just Wow!! I don’t even know what I’ll change. It’s so fun & easy to use.” - Tunde</p>
        </section>

        <!-- table of contents -->
        <section id="table" class="lg:px-20 px-4 md:px-10 min-h-screen relative py-20 max-w-[1700px] mx-auto">
            <h2 class="font-safira lg:text-sm xl:text-2xl heading-up">Content</h2>
            <div class="max-w-2xl grid grid-cols-[80%_20%] grid-rows-6 mt-20 mx-auto my-auto gap-4 lg:text-xl xl:text-2xl">
                <p class="quick-right">Quick Overview</p><p class="quick-up">01</p>
                <p class="quick-right">Research and Insights</p><p class="quick-up">02</p>
                <p class="quick-right">Design Process</p><p class="quick-up">03</p>
                <p class="quick-right">Impact and Feedback</p><p class="quick-up">04</p>
                <p class="quick-right">Collaboration</p><p class="quick-up">05</p>
                <p class="quick-right">Reflections and Learnings</p><p class="quick-up">06</p>
            </div>
			<!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute left-20 bottom-15"></div> -->
        </section>

        <!-- 01 -->
        <div id="quick-overview" class="bg-[#ececec]">
            <section class="min-h-screen grid md:grid-cols-2 py-20 max-w-[1700px] mx-auto lg:px-20 px-4 md:px-10 relative gap-4">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-1 justify-self-center">
                    <h2 class="text-4xl font-cookie quick-down">01</h2>
                    <h2 class="font-bilal text-5xl 2xl:text-8xl leading-[40px] xl:leading-[80px] 2xl:leading-[140px] my-2 xl:my-4 quick-down">Quick Overview</h2>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/2.jpg')] bg-blend-darken bg-[#ececec] bg-center bg-no-repeat bg-contain h-full"></div>
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>
		

        <!-- 01 - Quick overview -->
        <section id="quick-overview-2" class="min-h-screen flex flex-col lg:grid py-20 lg:px-20 px-4 md:px-10 xl:grid-cols-[auto_auto_40%] lg:grid-cols-[auto_auto_10%]  grid-rows-[auto_auto_auto] lg:gap-4 relative max-w-[1700px] mx-auto">
            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4">Product Overview</h3>
            <p class="md:w-full xl:max-w-[500px] pb-2 xl:py-4 border-gray-200">Pencil Hoops is a concept website created to give NBA fans a fresh, fun way to enjoy the game through pencil art. 
                We used Figma and Adobe Illustrator to design a clean, simple interface with interactive features. <br><br>
                People who tested it said it was fun, easy to use, and really cool to look at.
            </p>
            <div class="min-h-[400px] lg:row-span-3 bg-[url('/images/pencil_hoops/product-overview.jpg')] bg-contain bg-no-repeat bg-center w-full rounded-lg"></div>

            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4 lg:pt-8">My Role</h3>
            <p class="md:w-full xl:max-w-[500px] lg:border-y-[1px] pb-2 xl:py-4 lg:pt-8 border-gray-200">I came up with the idea for Pencil Hoops and led the design from start to finish. I designed the website, 
                collaborated with a pencil artist for some of the sketches, 
                and worked closely with the developer to bring everything to life.<br><br>
                I also added creative touches like basketball swoosh sound effects on clicks and interactive illustrations that come to life on hover. 
                Plus, I ensured a smooth and detailed handoff to the developer.
            </p>

            <h3 class="text-lg mt-4 mb-2 border-gray-200 border-b-[1px] lg:border-b-[0px] lg:mt-0 lg:text-xl xltext-2xl pb-2 xl:py-4">Impact</h3>
            <p class="md:w-full xl:max-w-[500px] pb-2 xl:py-4 border-gray-200">Test users loved it, saying it was fun, easy to use, and visually engaging. The feedback was overwhelmingly positive, 
                with many highlighting how enjoyable and intuitive it felt.
            </p>

            <div class="row-span-3 bg-gray-200 w-full rounded-lg h-full lg:hidden bg-[url('/images/pencil_hoops/product-overview.jpg')] bg-contain bg-no-repeat bg-center"></div>

		</section>

		<!-- 02 -->
        <div id="research-and-insights" class="bg-[#ececec]">
            <section class="min-h-screen grid md:grid-cols-2 py-20 lg:px-20 px-4 md:px-10  relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center gap-1 justify-self-center">
                    <h2 class="text-4xl font-cookie quick-down">02</h2>
                    <h2 class="font-bilal text-5xl 2xl:text-8xl leading-[40px] xl:leading-[80px] 2xl:leading-[140px] my-2 xl:my-4 quick-down ">Research and Insights</h2>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/gif1.gif')] bg-[#ececec] bg-center bg-no-repeat bg-contain bg-blend-darken"></div>
    
                <!-- <div class="h-[100px] aspect-[2/4] bg-center bg-contain bg-no-repeat bg-[url('/icons/down_arrow.svg')] absolute right-20 bottom-15"></div> -->
            </section>
        </div>

        <!-- the problem -->
        <section id='problem' class="min-h-screen grid lg:grid-cols-2 py-20 lg:px-20 px-4 md:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col lg:justify-center gap-1 relative box-parent overflow-hidden">
                
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">The Problem</h2>
                <p class="quick-up"> 
                    NBA fans needed something fun and refreshing, something that showcased the beauty of NBA moments through a unique artistic lens. 
                    Most NBA-related websites were cluttered, hard to navigate, and lacked the engaging experience fans really wanted.
                </p>
                <div class="flex items-center justify-end p-20 w-full quick-up h-full rounded-lg bg-[url('/images/pencil_hoops/the-problem.png')] bg-contain bg-no-repeat bg-center lg:hidden "></div>

                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- image -->
            <div class="lg:flex items-center overflow-hidden justify-end p-20 w-full rounded-lg bg-[url('/images/pencil_hoops/the-problem.png')] bg-contain bg-no-repeat bg-center hidden relative box-parent">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

        <!-- research and design insights -->
        <section id="design-insights" class="min-h-screen flex flex-col gap-4 lg:grid lg:grid-cols-2 py-20 lg:px-20 px-4 md:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Research and Design Insights</h2>
                <p> 
                    I explored other NBA websites to see what worked and what didn’t. <br><br> 
                    Through this research, I also realized that the NBA is seen as the 'cool sport', and my design needed to reflect that vibe. 
                    This insight drove my focus on elegance and style, influencing my choice of fonts and the overall simplicity of the design.
                </p>
            </div>

            <!-- points --> 
            <ul class="xl:text-2xl lg:max-w-[500px] flex flex-col gap-8 justify-center pl-4 pt-4">
                <li class="flex items-center gap-8"><span class="bg-black text-center flex justify-center items-center rounded-full min-w-[60px] aspect-square text-white">1</span> Most sites were cluttered, filled with ads, and difficult to navigate.</li>
                <li class="flex items-center gap-8"><span class="bg-black text-center flex justify-center items-center rounded-full min-w-[60px] aspect-square text-white">2</span> Fans preferred simple, easy-to-use platforms.</li>
                <li class="flex items-center gap-8"><span class="bg-black text-center flex justify-center items-center rounded-full min-w-[60px] aspect-square text-white">3</span> Clean designs with engaging visuals kept users interested.</li>
            </ul>


		</section>

        <!-- 03 -->
        <div id="design-process" class="bg-gray-100">
            <section class="min-h-screen flex justify-center items-center py-20 lg:px-20 px-4 md:px-10 relative gap-4 max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="flex flex-col gap-10">
                    <h2 class="text-4xl font-cookie quick-down text-left">03</h2>
                    <h2 class="font-bilal text-5xl 2xl:text-8xl leading-[40px] xl:leading-[80px] 2xl:leading-[140px] my-2 xl:my-4 quick-down">Design Process</h2>
                </div>
    
                <!-- image -->
                <!-- <div class="flex items-center justify-end p-20 w-full quick-up bg-[url('/images/pencil_hoops/sections/k.jpg')] bg-gray-200 bg-center bg-no-repeat bg-cover h-full"></div> -->
    
    
            </section>
        </div>
	

        <!-- laying the foundation -->
        <section id="foundation" class="min-h-screen lg:grid lg:grid-cols-2 flex flex-col gap-5 lg:gap-6 py-20 lg:px-20 px-4 md:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 relative box-parent">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Laying the Foundation – Sketches and Structure</h2>
                <p class="quick-up"> 
                    I kicked off the design process with paper sketches to map out the structure and focus on intuitive navigation. 
                    My goal was to answer key questions:
                </p>
                <ul class="list-disc list-inside px-4 leading-[40px]">
                    <li>Where am I?</li>
                    <li>Where can I go?</li>
                    <li>How do I get there? </li>
                </ul>
                <p>
                    These sketches helped me visualize the user journey and identify potential pain points early on.
                    Once the structure felt right, I moved into Figma and Adobe Illustrator to create digital wireframes. 
                    During this phase, I collaborated with the team to ideate on unique elements, 
                    like the basketball net-inspired cards for the "Did You Know" section and basketball-shaped icons for the 
                    next and previous buttons, which were initially sketched by our pencil artist.
                </p>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

           <!-- image -->
            <div class="flex relative items-center justify-end p-20 w-full box-parent min-h-[300px] bg-[url('/images/pencil_hoops/laying-foundation.png')] bg-center bg-no-repeat bg-contain h-full">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white hidden lg:block left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>


		</section>

        <!-- bringing designs to life -->
        <section id="life" class="min-h-screen lg:grid lg:grid-cols-2 flex flex-col gap-5 lg:gap-6 py-20 lg:px-20 px-4 md:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 box-parent relative">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Bringing Designs to Life</h2>
                <div class="flex gap-2 h-full box-parent relative md:hidden">
                    <div tabindex="0" class="bg-[url('/images/pencil_hoops/designs/1.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal focus:bg-blend-normal bg-center w-[200px] aspect-square bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/1.gif')] focus:bg-[url('/images/pencil_hoops/designs/1.gif')] transition-all duration-750"></div>
                    <div tabindex="0" class="bg-[url('/images/pencil_hoops/designs/2.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal focus:bg-blend-normal bg-center w-[200px] aspect-square bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/2.gif')] focus:bg-[url('/images/pencil_hoops/designs/2.gif')] transition-all duration-750"></div>
                    <div tabindex="0" class="bg-[url('/images/pencil_hoops/designs/3.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal focus:bg-blend-normal bg-center w-[200px] aspect-square bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/3.gif')] focus:bg-[url('/images/pencil_hoops/designs/3.gif')] transition-all duration-750"></div>
                    <div tabindex="0" class="bg-[url('/images/pencil_hoops/designs/4.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal focus:bg-blend-normal bg-center w-[200px] aspect-square bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/4.gif')] focus:bg-[url('/images/pencil_hoops/designs/4.gif')] transition-all duration-750"></div>
                </div>
                <p class="quick-up"> 
                    With the wireframes in place, I focused on interactivity and user engagement. I integrated progressive disclosure to minimize clutter, 
                    especially for mobile users, ensuring a clean and focused experience. <br><br>
                    To make the design feel dynamic and fun, I added interactive elements 
                    like on-hover animations that transform cards from pencil sketches into colored, animated GIFs. 
                    <br><br>
                    I also introduced basketball swoosh sound effects on click events, adding an unexpected but delightful touch that aligns 
                    with the NBA’s energetic vibe. 
                    Smooth transitions and micro-interactions tied everything together, making the interface feel seamless and responsive.
                </p>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- image -->
            <div class="w-full md:grid grid-cols-2 grid-rows-2 gap-2 h-full box-parent relative hidden">
                <div class="bg-[url('/images/pencil_hoops/designs/1.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal bg-center w-full h-full bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/1.gif')] transition-all duration-750"></div>
                <div class="bg-[url('/images/pencil_hoops/designs/2.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal bg-center w-full h-full bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/2.gif')] transition-all duration-750"></div>
                <div class="bg-[url('/images/pencil_hoops/designs/3.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal bg-center w-full h-full bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/3.gif')] transition-all duration-750"></div>
                <div class="bg-[url('/images/pencil_hoops/designs/4.png')] bg-[#ececec] bg-blend-luminosity hover:bg-blend-normal bg-center w-full h-full bg-no-repeat bg-cover hover:bg-[url('/images/pencil_hoops/designs/4.gif')] transition-all duration-750"></div>
            </div>

		</section>

        <!-- visual aesthetics -->
        <section id="visual" class="min-h-screen flex flex-col md:grid md:grid-cols-[40%_60%] gap-8 py-20 lg:px-20 px-4 md:px-10 relative @container max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 box-parent relative overflow-hidden">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">Visual Aesthetics and Style</h2>
                <p class="quick-up"> 
                    The NBA isn’t just a sport, it’s a culture, and I wanted the design to reflect that. During my research, 
                    I realized the NBA is often seen as the “cool sport,” and that insight drove many of my design decisions. 
                    I focused on elegance and style, which influenced both the typography and the overall simplicity of the layout.
                    <br><br>
                    I chose a clean, light-themed color palette with shades of gray and charcoal black to create a modern, sophisticated feel. 
                    Typography was carefully selected to resonate with the NBA audience, bold, sleek, and contemporary. 
                    The navigation remained minimal and user-friendly, allowing the content to shine without distractions.
                </p>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <div class="flex items-center justify-end p-20 w-full bg-[url('/images/pencil_hoops/visual.jpg')] bg-center bg-no-repeat bg-contain h-full box-parent relative">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>
		</section>

        <!-- high fidelity designs -->
        <section id="fidelity" class="min-h-screen lg:grid lg:grid-cols-2 flex flex-col gap-5 lg:gap-6 py-20 lg:px-20 px-4 md:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 box-parent relative">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 quick-up">High-Fidelity Designs and Final Touches</h2>
                <div class="flex items-center justify-end p-20 w-full bg-[url('/images/pencil_hoops/high-fidelity.jpg')] bg-center bg-no-repeat bg-contain min-h-[300px] h-full box-parent relative md:hidden">
                </div>
                <p class="quick-up"> 
                    After refining the visual style, I transitioned from low-fidelity sketches to high-fidelity designs. The pencil artist’s sketches, 
                    like the basketball-shaped next and previous buttons and the board-and-net concept 
                    for the "Did You Know" section, were digitized using Adobe Illustrator to create polished SVG assets. <br><br>
                    I also incorporated NBA-themed content, such as “Inside Kyrie’s Bag of Tricks” and “Historical Moments in the NBA,” to keep fans engaged. 
                    Throughout the process, I maintained clear communication with the developer, 
                    ensuring a smooth handoff with detailed documentation and well-organized design assets.
                </p>
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>

            <!-- image -->
            <div class="hidden md:flex items-center justify-end p-20 w-full bg-[url('/images/pencil_hoops/high-fidelity.jpg')] bg-center bg-no-repeat bg-contain min-h-[300px] h-full box-parent relative">
                <!-- {
                    [0,1,2,3,4,5,6,7,8,9].map(i => <div style={`top : ${i * 10}%`} class="bg-white left-0 right-0 absolute h-[10%] slide-2 box"></div>)
                } -->
            </div>


		</section>

        <!-- 04 -->
        <div id="impact-and-feedback" class="bg-gray-100">
            <section class="min-h-screen flex flex-col lg:grid grid-cols-2 py-20 lg:px-20 px-4 md:px-10 relative gap-4 max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[600px] flex flex-col justify-center justify-self-center gap-1">
                    <h2 class="text-4xl font-cookie quick-down">04</h2>
                    <h2 class="font-bilal text-5xl 2xl:text-8xl leading-[40px] xl:leading-[80px] 2xl:leading-[140px] my-2 xl:my-4 xl:whitespace-nowrap">Impact and Feedback</h2>
                    <div class="flex lg:hidden items-center justify-center p-10 w-full quick-up h-full">
                        <div class="bg-[url('/images/pencil_hoops/icon-chat.svg')] bg-center flex items-center justify-center bg-no-repeat bg-contain px-10 lg:px-20 w-full max-h-[300px] aspect-[1/6]">
                            <div class="flex gap-2 w-full max-w-[200px] items-center justify-center relative bottom-[20px]">
                                <Play className='play-audio'/>
                                <Pause className='pause-audio hidden hover:cursor-pointer'/>
                                
                                <div class="h-10 w-[80%] flex gap-[2px]">
                                    {range(0,50,1).map(() => 
                                        <div class="h-full w-[2%] bg-black synth"></div>
                                    )}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        Since Pencil Hoops is a concept project, there are no concrete analytics. However, user feedback has been overwhelmingly positive, 
                        highlighting the website’s simplicity, immersive design, and engaging user experience.
                    </p>
                    <ul class="flex flex-col gap-2">
                        <li>“You really tried in the design as a lot of things are really modular and reusable” - Ovi.</li>
                        <li>“Wow! Just Wow!! I don’t even know what I’ll change. It’s so fun and easy to use” - Tunde</li>
                    </ul>
                    <p>
                        These insights reinforced that the design decisions—focusing on simplicity, interactivity, 
                        and a ‘cool’ NBA vibe—resonated well with the target audience.
                    </p>
                </div>
    
                <!-- image -->
                <div class="hidden lg:flex items-center justify-center p-20 w-full quick-up h-full">
                    <div class="bg-[url('/images/pencil_hoops/icon-chat.svg')] bg-center flex items-center justify-center bg-no-repeat bg-contain xl:px-20 w-full max-h-[300px] aspect-[1/6]">
                        <div class="flex gap-2 w-full max-w-[200px] items-center justify-center relative bottom-[20px]">
                            <Play className='play-audio'/>
                            <Pause className='pause-audio hidden'/>
                            
                            <div class="h-10 w-[80%] flex gap-[2px]">
                                {range(0,50,1).map(() => 
                                    <div class="h-full w-[2%] bg-black synth"></div>
                                )}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- 05 Collabrations-->
        <div id="collaboration" class="bg-gray-100">
            <section class="min-h-screen py-20 lg:px-20 px-4 md:px-10 relative max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[600px] flex flex-col justify-center gap-1 justify-self-center">
                    <h2 class="text-4xl font-cookie quick-down">05</h2>
                    <h2 class="font-bilal text-5xl 2xl:text-8xl leading-[40px] xl:leading-[80px] 2xl:leading-[140px] my-2 xl:my-4 quick-down">Collabration</h2>
                </div>
    
                <!-- image -->
                <div class="flex flex-col lg:flex-row items-start justify-between lg:gap-12 gap-6 lg:p-20 px-4 md:p-10 w-full">
                    <div class="flex flex-col gap-4">
                        <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Animations and illustrations by</h2>
                        <div class="flex flex-wrap gap-4">
                            <ul class="list-disc list-inside flex flex-col gap-2">
                                <li>Walker TKL</li>
                                <li>Robertino Zambrano</li>
                                <li>Patrick Truby</li>
                                <li>Keshizumi_k</li>
                            </ul>
    
                            <ul class="list-disc list-inside flex flex-col gap-2">
                                <li>Dave Merrell</li>
                                <li>Seung Eun Kim</li>
                                <li>Brit Sigh</li>
                            </ul>
    
                            <ul class="list-disc list-inside flex flex-col gap-2">
                                <li>Oluwaseun Adimi</li>
                                <li>Kamil Oseni</li>
                                <li>Takehiko Inoue</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="flex flex-col gap-4">
                        <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Developed and Designed by</h2>
                        <div class="flex flex-wrap">
                            <ul class="list-disc list-inside flex flex-col gap-2">
                                <li>Walker TKL</li>
                                <li>Robertino Zambrano</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
    
            </section>
        </div>

        <!-- 06 reflections and learnings -->
        <div id="reflections" class="bg-gray-100">
            <section class="min-h-screen flex flex-col lg:grid grid-cols-2 py-20 lg:px-20 px-4 md:px-10 relative gap-4 max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[600px] flex flex-col justify-center gap-1 justify-self-center">
                    <h2 class="text-4xl font-cookie quick-down">06</h2>
                    <h2 class="font-bilal text-5xl 2xl:text-8xl leading-[70px] xl:leading-[80px] 2xl:leading-[140px] my-2 xl:my-4 quick-down">Reflections and Learnings</h2>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 min-h-[300px] w-full quick-up bg-[url('/images/pencil_hoops/product-overview.jpg')] bg-center bg-no-repeat bg-contain h-full"></div>
    
    
            </section>
        </div>
		

        <!-- Reflections and learnings -->
        <section id="learnings" class="min-h-screen flex flex-col gap-4 lg:grid lg:grid-cols-2 py-20 lg:px-20 px-4 md:px-10 relative max-w-[1700px] mx-auto">
            <!-- project description and actions -->
            <div class="lg:max-w-[500px] flex flex-col justify-center md:gap-4 max-w-[700px] gap-1 justify-self-center">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Reflections and Learnings</h2>
                <p class="flex flex-col gap-6"> 
                    <span>
                    <b class="mb-1 block">What worked well</b>
                    The integration of interactive elements, like hover animations and sound effects, created a fun and engaging experience for NBA fans. 
                    These small details made the design feel dynamic and memorable.
                    </span>
                    <span>
                        <b class="mb-1 block">What I'd do differently</b>
                        If I were to do it again, I’d focus more on gathering detailed user feedback during testing. 
                        This would help refine the user experience even further and uncover insights I might have missed.
                    </span>
                    <span>
                        <b class="mb-1 block">Key takeaway</b>
                        Simplicity and thoughtful design can completely transform how users engage with niche content. 
                        It’s not always about adding more, it’s about adding meaning where it matters.
                    </span>
                </p>
            </div>

            <!-- points --> 
            <div class="lg:max-w-[500px] flex flex-col justify-center gap-2 md:gap-4">
                <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4">Personal Story</h2>
                <p class="flex flex-col gap-6"> 
                    One of the biggest challenges I faced was figuring out how to make the website creative, simple, and unique. 
                    After experimenting with a few ideas, I ended up with the concept of pencil sketches that come to life, animated and colored, when users hover over them. 
                    It was an exciting design challenge that really pushed my creativity. <br><br>
                    Seeing everything come together during development was incredibly rewarding, especially when we added basketball sound effects 
                    like the satisfying swoosh on clicks. <br><br>
                    Working with the developer and the pencil artist was not just fun, it showed me how far creativity can go when you’re passionate about bringing an idea to life.
                </p>
            </div>


		</section>

		<!-- closing statement -->
        <div id='closing' class="bg-[#ececec]">
            <section class="min-h-screen grid md:grid-cols-2 py-20 lg:px-20 px-4 md:px-10 max-w-[1700px] mx-auto">
                <!-- project description and actions -->
                <div class="max-w-[700px] flex flex-col justify-center">
                    <h2 class="font-safira lg:text-sm xl:text-2xl leading-[38px] lg:leading-[40px] xl:leading-[58.25px] my-2 xl:my-4 heading-up-footer">Closing Statement</h2>
    
                    <p class="heading-up-footer">
                        I'm proud of how Pencil Hoops transformed a simple idea into an immersive experience for NBA fans. <br><br>
                        This project pushed my creativity and strengthened my skills in UI/UX design, user research, and accessibility. Most importantly, 
                        it showed me how thoughtful design can turn even the simplest concepts into meaningful, engaging digital experiences.
                    </p>
    
                    <div class="pt-[52px] heading-up-footer">
                        <a href="https://pencil-hoops.netlify.app/" target="_blank"><button class="px-4 py-3 rounded-lg text-white bg-[#222222] flex gap-2 items-center">Tour on the Website <img src="/icons/mdi_basketball.svg" alt="" srcset=""></button></a>
                    </div>
                </div>
    
                <!-- image -->
                <div class="flex items-center justify-end p-20 w-full closing-img bg-[url('/images/pencil_hoops/closing.gif')] bg-blend-darken bg-[#ececec] bg-center bg-no-repeat bg-contain h-full"></div>
            </section>
        </div>
		
	</main>
    </div>
	<Footer />
</Layout>

<style>

</style>

<script src="../scripts/HeaderProgressIndicator.ts"></script>
<script src="../scripts/events.ts"></script>
<script>
    import {gsap, ScrollTrigger} from '../scripts/setup.ts'
    import {dissappearBottomNav} from '../scripts/animations.ts'
    
     // // dissappear footer on certain pages
     ['#hero', '#hey-there', '#table', '#quick-overview', '#research-and-insights', '#design-process', '#collaboration', '#next-steps', '#closing', '#key-features', '#market-strategy', '#conclusion', '#contact'].forEach(section => {
        ScrollTrigger.create({
            trigger: section,
            // start: 'top top',
            // endTrigger: '#otherID',
            // end: 'bottom 50%+=100px',
            onEnter : () => {
				// console.log('we just enter timeline')
				dissappearBottomNav.play()
                // console.log('enter top')
			},
			onLeave : () => {
				dissappearBottomNav.reverse()
                // console.log('on leave bottom')
			},
			onEnterBack : () => {
				dissappearBottomNav.play()
                // console.log('enter bottom')
			},
			onLeaveBack : () => {
				// dissappearBottomNav.play()
                // console.log('on leave top')
			}
        });
    })


    // syncth
    const playBtn = document.querySelectorAll('.play-audio')
    const pauseBtn = document.querySelectorAll('.pause-audio')
    const synth = document.querySelectorAll('.synth') as NodeListOf<HTMLDivElement>
    const audio = new Audio('/audio/petra.mp3')
    let synthTimeline = gsap.timeline({paused: true})
    gsap.to(synth, {scaleY : () => gsap.utils.random(0, 1)} )
    synthTimeline.to(synth, {
        scaleY : () => gsap.utils.random(0, 1),
        duration : 0.1,
        yoyo : true,
        repeat : -1,
        // stagger: 0.1
    })
    // setInterval(()=>{
    //     synthTimeline.to(synth, {
    //         scaleY : () => gsap.utils.random(0, 1),
    //         duration : 0.1,
    //         yoyo : true,
    //         repeat : -1,
    //         // stagger: 0.1
    //     })
    // }, 1000)
    // synthTimeline.fromTo(synth, {scaleY : 0.5}, {duration: 0.5, scaleY: 1.5, ease: 'power2.inOut', repeat: -1, yoyo: true, stagger: 0.5})
   
    playBtn.forEach((btn) => {
        btn.addEventListener('click', () => {
            btn.classList.add('hidden')
            pauseBtn.forEach((btn) => {
                btn.classList.remove('hidden')
            })
            audio.play()
            
            synthTimeline.play()
        })
    })

    pauseBtn.forEach((btn) => {
        btn.addEventListener('click', () => {
            btn.classList.add('hidden')
            playBtn.forEach((btn) => {
                btn.classList.remove('hidden')
            })
            audio.pause()
            synthTimeline.pause()
        })
    })
    // playBtn.addEventListener('click', () => {
    //     playBtn.classList.add('hidden')
    //     pauseBtn.classList.remove('hidden')
    //     audio.play()
        
    //     synthTimeline.play()
    // })
    // pauseBtn.addEventListener('click', () => {
    //     pauseBtn.classList.add('hidden')
    //     playBtn.classList.remove('hidden')
    //     audio.pause()
    //     synthTimeline.pause()
    // })

    audio.onended = () => {
        pauseBtn.forEach((btn) => {
            btn.classList.add('hidden')
        })
        playBtn.forEach((btn) => {
            btn.classList.remove('hidden')
        })
        // pauseBtn.classList.add('hidden')
        // playBtn.classList.remove('hidden')
        synthTimeline.pause()
    }
</script>
