<section id="eden" class="h-screen p-6">
    <div class="bg-gray-200 rounded-lg h-full w-full flex">
        <div class="justify-between items-center w-full flex gap-4 max-w-[1900px] ml-auto pl-6 xl:pl-20">
    <!-- project title, tags and date -->
            <div class="xl:w-auto xl:max-w-[500px] w-[90%]">
                <ul class="list-inside tags">
                    <li>[ Artificial Intelligence ]</li>
                    <li>[ Finance ]</li>
                    <li>[ Human ]</li>
                </ul>
                <h2 class="font-safira lg:text-2xl leading-[40px] lg:leading-[58.25px] mt-4 heading-1">Eden</h2>
                <p class="mt-4">Eden is a calm, intelligent financial system that helps people track their money, manage investments, and understand their finances through smart, AI-driven insights. It’s built for long-term trust, clarity, and ease without the noise or hype.</p>
                <div class="pt-4 flex gap-2">
                    <a class="px-4 py-3 rounded-lg text-white bg-[#222222] button">Request Access <div class="icon bg-no-repeat bg-center bg-cover bg-[url('/icons/multi-arrows.svg')]"></div></a><a class="px-4 py-3 rounded-lg border-[1px] border-black button">How we built it <div class="icon bg-no-repeat bg-center bg-cover bg-[url('/icons/right-dark.svg')]"></div></a>
                </div>
            </div>

            <!-- project description and actions -->
            <div class="w-full h-full text-xs">
                <div class="h-full w-full flex items-center">
                    <div class="inline-block relative">
                        <img src="/images/hero/pc.png" class="w-full"/>
                        <div class="absolute top-[12%] right-[7.5%] left-[17.2%] bottom-[19%] bg-white bg-center bg-contain bg-no-repeat"></div>
                        <div class="absolute top-[12%] right-[7.5%] left-[17.2%] bottom-[19%] bg-white bg-[url('/images/hero/1.png')] bg-center bg-contain bg-no-repeat hero-mockup opacity-0"></div>
                        <div class="absolute top-[12%] right-[7.5%] left-[17.2%] bottom-[19%] bg-white bg-[url('/images/hero/2.png')] bg-center bg-contain bg-no-repeat hero-mockup opacity-0"></div>
                        <div class="absolute top-[12%] right-[7.5%] left-[17.2%] bottom-[19%] bg-white bg-[url('/images/hero/3.png')] bg-center bg-contain bg-no-repeat hero-mockup opacity-0"></div>
                        <div class="absolute top-[12%] right-[7.5%] left-[17.2%] bottom-[19%] bg-white bg-[url('/images/hero/4.png')] bg-center bg-contain bg-no-repeat hero-mockup opacity-0"></div>
                        

                        <div class="h-[60%] aspect-[1/2] absolute left-[5%] bottom-[10.7%] bg-[url('/images/hero/phone.png')] bg-cover bg-center bg-no-repeat"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    import { gsap } from 'gsap';

    let mockupTl = gsap.timeline({
    repeat : -1,
    repeatDelay : 1,
    // yoyo : true
    })

    // mockuo
    document.querySelectorAll('.hero-mockup').forEach((mockup, i)=> {
        mockupTl.to(mockup, {
            opacity : 1,
            delay :  i != 0 ? 2 : 0,
            duration : 1
        })
    })
</script>