---
---

<footer>
<section id="contact" class="bg-black flex justify-between px-4 md:px-20 py-20 text-white bottom-0 right-0 left-0 relative z-[2]">
    <p class="footer-text font-bilal text-md sm:text-lg md:text-xl lg:text-3xl">People ignore the designs that ignore people.</p>
    <div class="md:flex items-center gap-4 hidden lg:gap-6 xl:gap-8">
        <a href="https://www.linkedin.com/in/kamiloseni/" target="_blank" class="bg-no-repeat w-[20px] lg:w-[40px] xl:w-[50px] aspect-square bg-center bg-cover bg-[url('/icons/in.svg')]"></a>
        <a href="mailto:Kamilzoseni@gmail.com" class="bg-no-repeat w-[20px] lg:w-[40px] xl:w-[50px] aspect-square bg-center bg-cover bg-[url('/icons/email.svg')]"></a>
    </div>
    <p class="footer-text font-bilal text-md sm:text-lg md:text-xl lg:text-3xl">Designed by Kamil Oseni</p>
</section>
</footer>