---
---

<footer id="contact" class="bg-black flex justify-between px-20 py-[59px] text-white bottom-0 right-0 left-0 relative z-[2]">
    <p class="footer-text font-bilal">People ignore the designs that ignore people.</p>
    <div class="flex items-center gap-8">
        <a href="https://www.linkedin.com/in/kamiloseni/" target="_blank" class="bg-no-repeat xl:w-[50px] aspect-square bg-center bg-cover bg-[url('/icons/in.svg')]"></a>
        <a href="mailto:Kamilzoseni@gmail.com" class="bg-no-repeat xl:w-[50px] aspect-square bg-center bg-cover bg-[url('/icons/email.svg')]"></a>
    </div>
    <p class="footer-text font-bilal">Designed by Kamil Oseni</p>
</footer>