---
---

<footer class="bg-black flex justify-between px-20 py-[59px] text-white bottom-0 right-0 left-0">
    <p class="text-4xl font-bilal">People ignore the designs that ignore people.</p>
    <div class="flex">
        <a href=""><img src="/icons/in.svg" alt="" srcset=""></a>
        <a href=""><img src="/icons/email.svg" alt="" srcset=""></a>
    </div>
    <p class="text-4xl font-bilal">Designed by Kamil Oseni</p>
</footer>