---
const hasTimelineSlot = Astro.slots.timeline !== undefined;
---


<header class="fixed top-0 left-0 right-0 bg-white top-nav z-[2]">
    <nav class:list={["flex justify-between items-center pt-4 pb-2 px-20 border-b-[1px] border-b-gray-100", hasTimelineSlot && "pt-8 pb-4"]}>
        {
            !hasTimelineSlot && 
            <div class="flex items-center gap-4">
                <div class="xl:w-[78px] w-[40px] aspect-square bg-gray-500 rounded-full bg-[url('/images/profile-pic.png')] bg-center bg-cover bg-no-repeat"></div>
                <p class="font-bilal text-[16px]">Kamil Oseni</p>
            </div>
        }

        <ul class="flex items-center gap-16 nav-text font-semibold font-sans">
            <li><a href="#works">Works</a></li>
            <li @click="active = 'timeline'" :class="{'text-black' : ['timeline', 'quick-overview-2'].includes(active)}"><a href="#timeline">Journey</a></li>
            <li><a href="#about-me">About</a></li>
            <!-- <li><a href="#contact">Get In Touch</a></li> -->
        </ul>

        <slot  name="timeline"/>

        <div class="flex items-center gap-8">
            <a href="https://www.linkedin.com/in/kamiloseni/" target="_blank" class="icon bg-no-repeat bg-center bg-contain bg-[url('/icons/dark-in.svg')]"></a>
            <a href="mailto:Kamilzoseni@gmail.com"  class="icon bg-no-repeat bg-center bg-contain bg-[url('/icons/dark-mail.svg')]"></a>
        </div>
    </nav>
</header>
<script>
		import gsap from "gsap";
    window.addEventListener('mousemove', (event) => {
        // Check if the mouse is within the top 100px of the window
        // console.log(event.clientY)
        if (event.clientY <=100) {
            // Show the navigation bar
            gsap.to('.top-nav', {
                translateY: "0%",
                duration: 1,
                ease: "power2.out",
            });

            // Clear the previous timeout to reset the timer
            // clearTimeout(hideNavTimeout);
        }else{
            gsap.to('.top-nav', {
                translateY: "-100%",
                duration: 1,
                ease: "power2.out",
            });
        }
	});
</script>